<tr id="<%= dom_id(field) %>">
  <td class="text-center"><%= field.position %></td>
  <td><%= field.name %></td>
  <td><%= handlers_text_representation(field).join(", ") %></td>
  <td><%= field.label %></td>
  <td class="text-center"><%= boolean_text_representation(field.required)  %></td>
  <td>
    <%= link_to t("admin.verification.fields.index.edit"),
                edit_admin_verification_field_path(field),
                class: "button hollow expanded" %>
    <%= link_to t("admin.verification.fields.index.delete"),
                admin_verification_field_path(field),
                method: :delete,
                class: "button hollow alert expanded",
                data: { confirm: t("admin.actions.confirm") } %>
  </td>
</tr>
