<% provide :title do %>
  <%= t("admin.header.title") %> - <%= t("admin.menu.administrators") %> - <%= t("admin.administrators.new.title") %>
<% end %>

<div class="legislation-process-new">
  <%= back_link_to admin_administrators_path, t("admin.administrators.index.back") %>

  <h2><%= t("admin.administrators.new.title") %></h2>

  <%= render "admin/partials/form" %>
</div>