<% provide :title do %><%= @process.title %><% end %>

<%= render "legislation/processes/header", process: @process, header: :full %>

<%= render "custom_results" %>

<%= render "documents/additional_documents", documents: @process.documents %>

<%= render "legislation/processes/key_dates", process: @process, phase: @phase %>

<div class="debate-chooser">
  <div class="row">
    <div class="small-12 column">
      <% if current_user.blank? %>
     
              <div class="callout warning">
                  <%= t("polls.show.cant_legislation_wrong_user") %>
              </div>
    <% elsif !@process.in_zone(current_user) %>
        <div class="callout warning">
          <%= t("polls.show.cant_legislation_wrong_geozone") %>
        </div>
      <%else%>
        <div class="callout primary">
          <p><%= t(".not_open") %></p>
        </div>
      <%end%>
    </div>
  </div>
</div>
