<% provide :title do %><%= @process.title %><% end %>

<%= render "legislation/processes/header", process: @process, header: :full %>

<%= render "documents/additional_documents", documents: @process.documents %>

<%= render "key_dates", process: @process, phase: :proposals %>

<% if !@process.in_zone(current_user) %>
    <div class="row margin-top">
        <div class="small-12 medium-9 column">
            <div class="callout warning">
                <%= t("polls.show.cant_legislation_wrong_geozone") %>
            </div>
        </div>
    </div>
<%else%>
    <%= render "proposals_content", process: @process, proposals: @proposals %>
<%end%>
