<%= back_link_to %>

<h2 id="top"><%= t("admin.stats.access_logs.title") %></h2>

<%= render Admin::SearchComponent.new(label: t("admin.shared.search.label.access_logs")) %>

<% if @logs.any? %>
  <table id="access_logs" class="stack table-sortable">
    <thead>
      <tr>
        <th><%= t("admin.stats.access_logs.datetime") %></th>
        <th><%= t("admin.stats.access_logs.email") %></th>
        <th><%= t("admin.stats.access_logs.activity") %></th>
        <th><%= t("admin.stats.access_logs.result") %></th>
      </tr>
    </thead>
    <% @logs.each do |log| %>
      <tr id="<%= dom_id(log) %>">
        <td><%= I18n.l log.created_at.utc, format: "%Y-%m-%d %H:%M:%S" %></td>
        <td><%= log.payload %></td>
        <td><%= log.activity %></td>
        <td><%= log.result %></td>
      </tr>
    <% end %>
  </table>

  <%= paginate @logs %>
<% else %>
  <div class="callout primary margin">
    <%= t("admin.stats.access_logs.no_logs") %>
  </div>
<% end %>
