<%= back_link_to %>

<h2 id="top"><%= t("admin.stats.audited_records.title") %></h2>

<%= render Admin::SearchComponent.new(label: t("admin.shared.search.label.audited_records")) %>

<% if @records.any? %>
<table id="audited_records" class="stack table-sortable">
  <thead>
    <tr>
      <th><%= t("admin.stats.audited_records.datetime") %></th>
      <th><%= t("admin.stats.audited_records.user") %></th>
      <th><%= t("admin.stats.audited_records.activity") %></th>
      <th><%= t("admin.stats.audited_records.model") %></th>
      <th><%= t("admin.stats.audited_records.object") %></th>
    </tr>
  </thead>
  <% @records.each do |record| %>
    <tr id="<%= dom_id(record) %>">
      <td>
        <%= record.created_at %>
      </td>
      <td>
        <%= record.user&.email %>
      </td>
      <td>
        <%= record.action %>
      </td>
      <td>
        <%= record.auditable_type %>
      </td>
      <td>
        <%= record.auditable_id %>
      </td>

    </tr>
  <% end %>
</table>

  <%= paginate @records %>
<% else %>
  <div class="callout primary margin">
    <%= t("admin.stats.audited_records.no_records") %>
  </div>
<% end %>
