<h2><%= t("moderation.comments_topics.index.title") %></h2>

<%= render "shared/filter_subnav", i18n_namespace: "moderation.comments_topics.index" %>

<h3 class="inline-block"><%= page_entries_info @comments %></h3>

<%= form_tag moderate_moderation_comments_topics_path(request.query_parameters), method: :put do %>
  <p class="float-left js-check">
    <%= t("shared.check") %>:
    <%= link_to t("shared.check_all"), "#", data: { check_all: "comments_ids[]" } %>
    |
    <%= link_to t("shared.check_none"), "#", data: { check_none: "comments_ids[]" } %>
  </p>

  <table class="clear">
    <thead>
      <tr>
        <th><%= t("moderation.comments_topics.index.headers.comments_topic") %></th>
        <th><%= t("moderation.comments_topics.index.headers.moderate") %></th>
      </tr>
    </thead>

    <tbody>
      <% @comments_topics.each do |comment| %>
        <tr id="comments_topic_<%= comment.id %>">
          <td>
            <%= comment.title %>
            <br>
            <span class="date"><%= l comment.created_at.to_date %></span>
            <span class="bullet">&nbsp;&bull;&nbsp;</span>
            <%= comment.flags_count %><span class="icon-flag flag-disable"></span>
            <span class="bullet">&nbsp;&bull;&nbsp;</span>
            <%= comment.author.username %>
            <br>
            <div class="moderation-description">
              <%= comment.description %>
            </div>
          </td>
          <td class="text-center">
            <%= check_box_tag "comment_ids[]", comment.id, nil, id: "#{dom_id(comment)}_check" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="float-right">
    <% if params[:filter].to_s != "with_confirmed_hide_at" %>
      <%= submit_tag t("moderation.comments_topics.index.hide_comments_topics"),
                    name: "hide_comments",
                    class: "button hollow alert",
                    data: { confirm: t("moderation.comments_topics.index.confirm") } %>
    <% end %>
  </div>

  <%= paginate @comments_topics %>

<% end %>
