<h2><%= t("management.users.create_user_info") %></h2>

<div class="small-12 medium-12 column">

  <div class="verification account">
    <%= form_for @user, url: management_users_path do |f| %>

      <%= render "personal_data", f: f %>

      <%= render "adress", f: f %>
      <h3 style="font-weight:0!important"><%= t("management.users.new.profiles") %></h3>
      <div class="small-12 medium-12 column">
        <div class="small-12 large-2 medium-2 column left">
          <%= f.select :profiles_id, options_for_select(@profiles||{}),
              label: t("management.users.new.profiles"),
              placeholder: t("management.users.new.profiles"),
              include_blank: :true %>
        </div>
      </div>
      <div class="small-12 medium-12 column left">
        <%= f.submit t("management.users.create_user_submit"), class: "button success" %>
      </div>
    <% end %>
  </div>
</div>
