<% if process.errors.any? %>
  <div id="error_explanation" data-alert class="callout alert" data-closable>
    <button class="close-button" aria-label="<%= t("application.close") %>" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>

    <strong>
      <%= pluralize process.errors.count, t("form.error"), t("form.errors") %>

      <% if local_assigns[:message].present? %>
        <%= message %>
      <% else %>
        <%= t("form.not_saved_html", resource: t("form.#{process.class.to_s.underscore}")) %>
      <% end %>

      <% if process.errors[:base].any? %>
        <p><%=  process.errors[:base].flatten.join(", ") %></p>
      <% end %>
    </strong>
  </div>
<% end %>
