<%= render "errors", process: @process %>

<%= form_for @process, url: verification_process_path do |f| %>
  <% @process.fields.each do |_, field| %>
    <div class="small-12 column">
      <% if field.checkbox? %>

        <%= f.label field.name do %>
          <%= f.check_box field.name, label: false %>
          <span class="checkbox">
            <%= checkbox_label(field) %>
          </span>
        <% end %>

      <% elsif field.text? %>

        <%= f.text_field field.name, label: field.label, hint: field_hint(field) %>

      <% elsif field.selector? %>

        <% select_options = field.verification_field_options.map { |p| [p.label, p.value] } %>
        <%= f.select field.name,
                      options_for_select(select_options),
                      prompt: t("verification.process.form.select.prompt"),
                      label: field.label %>

      <% elsif field.date? %>
      <div class="date-select">
        <%= f.date_select field.name,
                          prompt: true,
                          start_year: 1900, end_year: Date.current.year,
                          label: field.label,
                          hint: field.hint %>
      </div>
      <% end %>
    </div>

    <% if field.confirmation_validation? %>
      <div class="small-12 column">
        <%= f.text_field process_field_name(field),
                         label: process_field_label(field),
                         hint: process_field_hint(field) %>
      </div>
    <% end %>
  <% end %>

  <div class="actions small-12 column margin-top">
    <%= f.submit t("verification.process.form.submit"), class:"button expanded success" %>
  </div>
<% end %>
