<%= form_for [:admin, :wizards, @field_assignment],
             url: @field_assignment.persisted? ? admin_wizards_verification_field_assignment_path(@field_assignment.handler, @field_assignment.id) : admin_wizards_verification_field_assignments_path(@field_assignment.handler)  do |f| %>

  <%= render "shared/errors", resource: @field_assignment %>

  <div class="row">
    <div class="row small-12 column">
      <%= f.select :verification_field_id,
                   options_for_verification_handler_field_assigment_verification_field %>
    </div>
  </div>

  <% if remote_census_handler?(@handler) %>
    <div class="row">
      <div class="row small-12 column">
        <%= f.text_field :request_path %>
        <p>
          <%= t("admin.wizards.verification.fields.form.handlers.request_path") %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="row small-12 column">
        <%= f.text_field :response_path %>
        <p><%= t("admin.wizards.verification.fields.form.handlers.response_path") %></p>
      </div>
    </div>
  <% end %>

  <div id="js-verification-handler-field-assigment-format" class="row"
       style="<% verification_field_assignment_style(@field_assignment) %>">
    <div class="row small-12 column">
      <%= f.text_field :format, hint: t("admin.wizards.verification.handler.field_assignments.form.format.help") %>
    </div>
  </div>

  <div class="row margin-bottom">
    <div class="row small-12 column">
      <%= f.submit class: "button success expanded",
                   value: t("admin.wizards.verification.handler.field_assignments.form.submit_button") %>
    </div>
  </div>
<% end %>
