<% if cookies.kind_of? ActionDispatch::Cookies::CookieJar %>
  <% if cookies && cookies["cookie_eu_consented"] != "true" %>
    <div class="cookies-eu js-cookies-eu" <%= "dir=rtl" if I18n.exists?("cookies_eu.direction", I18n.locale) && I18n.t("cookies_eu.direction") == "rtl" %>
         data-google-tag-manager-id="<%= Rails.application.secrets.google_tag_manager_id %>">
      <span class="cookies-eu-content-holder">
        <%= sanitize(t("cookies_eu.cookies_text", cookies_link: link_to(t("cookies_eu.cookies_link"), "/cookies"))) %>
      </span>
      <span class="cookies-eu-button-holder">
      <button class="cookies-eu-ok js-cookies-eu-ok"> <%= t("cookies_eu.ok") %> </button>
      <% if defined?(link).present? %>
        <a href="<%= link %>" class="cookies-eu-link" target="<%= defined?(target).present? ? target : "" %>"> <%= t("cookies_eu.learn_more") %> </a>
      <% end %>
      </span>
    </div>
    <script>
    document.addEventListener("cookies-eu-acknowledged", function() {
      var google_tag_manager_id = $(".cookies-eu").data("google-tag-manager-id");
      $.ajax({
        url: "https://www.googletagmanager.com/gtag/js?id=" + google_tag_manager_id,
        dataType: "script",
        success: () => {
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag("js", new Date());
          gtag("consent", { "analytics_storage": "allowed" });
          gtag("config", google_tag_manager_id);
        }
      });
    });
    </script>
  <% end %>
<% else %>
  <% raise Exception.new "'cookies' is a reserved Rails class, please rename your method" %>
<% end %>
