<footer>
  <div class="row">
    <div class="small-12 large-2 column">
      <%= link_to page_path("conditions") do %>
        <div class="footer-link">
          <%= image_tag(image_path_for("icono-info-footer.png"), alt: "") %>
          <span><%= t("layouts.footer.links.legal") %></span>
        </div>
      <% end %>
    </div>
    <div class="small-12 large-2 column">
      <%= link_to page_path("privacy") do %>
        <div class="footer-link">
          <%= image_tag(image_path_for("icono-privacidad-footer.png"), alt: "") %>
          <span><%= t("layouts.footer.links.privacy") %></span>
        </div>
      <% end %>
    </div>
    <div class="small-12 large-2 column">
      <% if cookies_setup_page_enabled? %>
        <%= link_to "#cookies_consent_setup", "data-open": "cookies_consent_setup" do %>
          <div class="footer-link">
            <%= image_tag(image_path_for("icono-cookies-footer.png"), alt: "") %>
            <span><%= t("layouts.footer.cookies_consent_setup") %></span>
          </div>
        <% end %>
      <% else %>
        <%= link_to page_path("cookies") do %>
          <div class="footer-link">
            <%= image_tag(image_path_for("icono-cookies-footer.png"), alt: "") %>
            <span><%= t("layouts.footer.links.cookies") %></span>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="small-12 large-2 column">
      <%= link_to new_contact_path do %>
        <div class="footer-link">
          <%= image_tag(image_path_for("icono-contacto-footer.png"), alt: "") %>
          <span><%= t("layouts.footer.links.contact") %></span>
        </div>
      <% end %>
    </div>
    <div class="small-12 large-2 column">
      <%= link_to "https://www.tenerife.es/", target: "_blank" do %>
        <div class="footer-link">
          <%= image_tag(image_path_for("icono-web-cabildo-footer.png"), alt: "") %>
          <span><%= t("layouts.footer.links.web") %></span>
        </div>
      <% end %>
    </div>
    <div class="small-12 large-2 column">
      <%= link_to page_path("faq") do %>
        <div class="footer-link">
          <%= image_tag(image_path_for("icono-preguntas-footer.png"), alt: "") %>
          <span><%= t("layouts.footer.links.faq") %></span>
        </div>
      <% end %>
    </div>
  </div>
</footer>
