<%= tag.ul(list_options) do %>
  <li>
    <%= link_to "https://www.facebook.com/CabildoTenerife", target: "_blank" do %>
      <span><%= icon("fab", "facebook-f") %></span>
    <% end %>
  </li>
  <li>
    <%= link_to "https://twitter.com/CabildoTenerife", target: "_blank" do %>
      <span><%= icon("fab", "twitter") %></span>
    <% end %>
  </li>
  <li>
    <%= link_to "https://www.youtube.com/channel/UCSnQFzldpaeR5D7zTOp3pRA?view_as=subscriber", target: "_blank" do %>
      <span><%= icon("fab", "youtube") %></span>
    <% end %>
  </li>
  <li>
    <%= link_to "https://www.instagram.com/cabildotenerife/?hl=es", target: "_blank" do %>
      <span><%= icon("fab", "instagram") %></span>
    <% end %>
  </li>
<% end %>
