<div class="row">
    <div class="small-12 medium-12 column margin-top">
        <%= link_to content_tag(:span, nil, class: "icon-angle-left") + "Volver", debates_path %>
        <h1><%= t("map.district", district: @district.name) %></h1>
        <div class="boroughts">
        <h2><%= t("map.boroughts") %></h2>
        <div class="row" style="padding-left:1em">
            <div class="small-12 medium-5 column">
                <ul id="geozones" class="no-bullet">
                    <% @proposals.each do |proposal| %>
                        <li style="width:100%"><%= link_to proposal.title, community_path(proposal.try(:community).id) %></li>
                    <% end %>
                </ul>
            </div>
            <div class="small-12 medium-7 column">
                <%= image_tag("barrios.jpg", size: "700x200", alt: t("map.img_alt")) %>
            </div>
        </div>
        </div>
    </div>
    
</div>
