<%= render "shared/globalize_locales", resource: @field %>

<%= translatable_form_for [:admin, :wizards, @field] do |f| %>

  <%= render "shared/errors", resource: @field %>

  <div class="row">
    <%= f.translatable_fields do |translations_form| %>
      <div class="small-12 column">
        <%= translations_form.text_field :label %>
      </div>

      <div class="small-12 column">
        <%= translations_form.text_field :hint %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="small-12 column">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <%= f.number_field :position %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
    <%= f.label :required do %>
      <%= f.check_box :required %>
    <% end %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
    <%= f.label :confirmation_validation do %>
      <%= f.check_box :confirmation_validation %>
    <% end %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
    <%= f.label :format do %>
      <%= f.text_field :format, placeholder: t("admin.wizards.verification.fields.form.format_placeholder") %>
    <% end %>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="small-12 column">
    <%= f.label :is_checkbox do %>
      <%= f.check_box :is_checkbox %>
    <% end %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <%= f.text_field :checkbox_link %>
      <p class="help-text"><%= t("admin.wizards.verification.fields.form.checkbox_link") %></p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="small-12 column">
      <%= f.submit class: "button success expanded margin-top",
                   value: t("admin.wizards.verification.fields.#{admin_submit_action(@field)}.form.submit_button") %>
    </div>
  </div>
<% end %>
