<%= render "shared/globalize_locales", resource: @field %>

<%= translatable_form_for [:admin, :wizards, @field] do |f| %>

  <%= render "shared/errors", resource: @field %>

  <div class="row">
    <%= f.translatable_fields do |translations_form| %>
      <div class="small-12 column">
        <%= translations_form.text_field :label,
                                         hint: t("admin.wizards.verification.fields.form.handlers.input_label_help") %>
      </div>
      <div class="small-12 column">
        <%= translations_form.text_field :hint,
                                         hint: t("admin.wizards.verification.fields.form.handlers.input_hint_help") %>
      </div>
    <% end %>
  </div>

  <div class="row margin-top">
    <div class="small-12 medium-6 column">
      <%= f.text_field :name, hint: t("admin.wizards.verification.fields.form.handlers.input_name_help")%>
    </div>
    <div class="small-12 medium-1 column"></div>
    <div class="small-12 medium-5 column">
      <%= f.number_field :position, hint: t("admin.wizards.verification.fields.form.handlers.input_position_help") %>
    </div>
  </div>
  <div class="row margin-top">
    <div class="column">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 column">
      <label><%= t("admin.wizards.verification.fields.form.label_required") %></label>
      <%= f.label :required do %>
        <%= f.check_box :required %>
      <% end %>
    </div>
    <div class="small-12 medium-1 column"></div>
    <div class="small-12 medium-5 column">
      <label><%= t("admin.wizards.verification.fields.form.label_confirmation_validation")%></label>
      <%= f.check_box :confirmation_validation %>
    </div>
    <div class="small-12 column margin-bottom">
      <%= f.label :format do %>
        <%= f.text_field :format,
                         placeholder: t("admin.wizards.verification.fields.form.format_placeholder"),
                         hint: t("admin.wizards.verification.fields.form.format_placeholder") %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <hr>
    </div>
  </div>

  <div class="row margin-top">
    <div class="small-12 medium-4 column">
      <label><%= t("admin.wizards.verification.fields.form.label_checkbox") %></label>
        <%= f.enum_select :kind %>
      <br>
    </div>
    <div class="small-12 medium-8 column">
      <div id="input-checkbox-link" style="<%= display_checkbox_link(@field) %>">
        <%= f.text_field :checkbox_link, hint: t("admin.wizards.verification.fields.form.checkbox_link") %>
      </div>

      <div id="field_verification_options_section" style="<%= display_field_verification_options_section(@field) %>">
        <div id="nested-verification-field-options" class="nested-options small-12">
          <%= f.fields_for :verification_field_options do |f| %>
            <%= render "option_fields", f: f %>
          <% end %>
        </div>
        <div class="small-12 column margin-top">
          <%= link_to_add_association t("admin.wizards.verification.fields.form.add_field_option"), f,
                                      :verification_field_options,
                                      partial: "admin/wizards/verification/fields/option_fields",
                                      id: "new-verification-field-option-link",
                                      class: "button radius expanded info",
                                      data: {
                                        association_insertion_node: "#nested-verification-field-options",
                                        association_insertion_method: "append"
                                      } %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <hr>
    </div>
  </div>

  <div class="row margin-bottom">
    <div class="small-12 column">
      <%= f.submit class: "button success expanded margin-top",
                   value: t("admin.wizards.verification.fields.#{admin_submit_action(@field)}.form.submit_button") %>
    </div>
  </div>
<% end %>
