<div class="nested-fields small-12 columns">
  <div class="row margin-bottom">
    <div class="small-12">
        <%= f.translatable_fields do |translations_form| %>
          <div class="column">
            <%= translations_form.text_field :label %>
          </div>
        <% end %>
        <div class="column">
          <%= f.text_field :value %>
        </div>
    </div>
    <div class="small-12 text-right column">
      <%= link_to_remove_association f, class: "delete" do %>
        <%= t("admin.wizards.verification.fields.form.option_fields.remove_option") %>
      <% end %>
    </div>
  </div>
</div>
