<%= render "admin/wizards/header_steps", back_step: admin_wizards_verification_handlers_path,
                                         next_step: next_step_path("handlers"),
                                         wizard: "verification" %>

<div class="columns">
  <div class="medium-8 column">
    <h2 class="inline-block"><%= t("admin.wizards.verification.fields.index.title") %></h2>
    <p><%= t("admin.wizards.verification.fields.index.description_html") %></p>
  </div>
  <div class="medium-4 column text-right">
    <%= link_to t("admin.wizards.verification.fields.index.create"),
                new_admin_wizards_verification_field_path, class: "button" %>
  </div>
</div>

<div class="columns">
  <div class="medium-12 column">
    <div class="horizontal-scroll">
      <table>
        <%= render partial: "thead" %>

        <tbody>
          <% if @fields.empty? %>
            <tr>
              <td colspan="10"><%= verification_fields_no_results_message %></td>
            </tr>
          <% else %>
            <%= render partial: "field", collection: @fields %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
