<%= render "admin/wizards/header_steps", back_step: admin_wizards_verification_handlers_path,
                                         next_step: next_step_path("handlers"),
                                         wizard: "verification" %>

<div class="columns">
  <div class="medium-8 columns">
    <h2 class="inline-block"><%= t("admin.wizards.verification.fields.index.title") %></h2>
    <p><%= t("admin.wizards.verification.fields.index.description_html") %></p>
  </div>
  <div class="medium-4 columns text-right">
    <%= link_to t("admin.wizards.verification.fields.index.create"),
                new_admin_wizards_verification_field_path, class: "button" %>
  </div>
  <div class="horizontal-scroll">
    <table>
      <thead>
        <tr>
          <th scope="col" class="text-center"><%= t("admin.wizards.verification.fields.index.position") %></th>
          <th scope="col"><%= t("admin.wizards.verification.fields.index.name") %></th>
          <th scope="col"><%= t("admin.wizards.verification.fields.index.controller") %></th>
          <th scope="col"><%= t("admin.wizards.verification.fields.index.label") %></th>
          <th scope="col" class="text-center"><%= t("admin.wizards.verification.fields.index.required") %></th>
          <th scope="col" class="text-center"><%= t("admin.wizards.verification.fields.index.confirmation_validation") %></th>
          <th scope="col" class="text-center"><%= t("admin.wizards.verification.fields.index.format") %></th>
          <th scope="col" class="text-center"><%= t("admin.wizards.verification.fields.index.kind") %></th>
          <th scope="col" class="text-center"><%= t("admin.wizards.verification.fields.index.visible") %></th>
          <th scope="col" class="small-2 text-right"><%= t("admin.actions.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% if @fields.empty? %>
          <tr>
            <td colspan="10"><%= verification_fields_no_results_message %></td>
          </tr>
        <% else %>
          <%= render partial: "field", collection: @fields %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
