<% if question.question_options.any? %>
  <% if process.debate_phase.open? %>
    <%= form_for answer, url: legislation_process_question_answers_path(process, question, answer), method: :create, html: { class: "controls-stacked"} do |f| %>
      <% question.question_options.each do |question_option| %>
        <div class="row">
          <label class="control radio <%= "is-active" if @answer.legislation_question_option_id == question_option.id %>">
            <%= f.radio_button :legislation_question_option_id, question_option.id, label: false %>
            <span class="control-indicator"></span>
            <%= question_option.value %>
          </label>
        </div>
      <% end %>
      <%= f.submit t("legislation.questions.show.answer_question"), class: "button" %>
    <% end %>
  <% end %>
<% end %>
