
<% if current_user.blank? %>
  <div class="row margin-top">
      <div class="small-12 medium-9 column">
          <div class="callout warning">
              <%= t("polls.show.cant_legislation_wrong_user") %>
          </div>
      </div>
  </div>
<% elsif !@process.in_zone(current_user) %>
  <div class="callout warning">
    <%= t("polls.show.cant_legislation_wrong_geozone") %>
  </div>
<%else%>
  <% if question.question_options.any? %>
    <% if process.debate_phase.open? %>
      <%= form_for answer, url: legislation_process_question_answers_path(process, question, answer), method: :create, html: { class: "controls-stacked"} do |f| %>
        <% question.question_options.each do |question_option| %>
          <div class="row">
            <% if question_option.other == true %>
              <%= f.hidden_field :legislation_question_option_id, multiple: true, value: question_option.id %>
              <%= f.text_field :value_other, value: Legislation::Answer.find_by(legislation_question_option_id: question_option.id, user_id: current_user.id).try(:value_other), label: question_option.try(:value).blank? ? t("legislation.questions.show.value_other") : question_option.try(:value) %>
            <% elsif question_option.is_range == true%>
                <%= f.select :value_range,
                    options_for_select((question_option.range_first.to_i..question_option.range_last.to_i).map {|i| [i,i]}, Legislation::Answer.find_by(legislation_question_option_id: question_option.id, user_id: current_user.id).try(:value_range)), 
                    {include_blank: "",
                    label: question_option.try(:value).blank? ? t("legislation.questions.show.value_range") : question_option.try(:value),
                    class: "control radio is-active"}
                     %>                          
                <%= f.hidden_field :legislation_question_option_id, multiple: true, value: question_option.id %>              
                
            <%else%>
                <%if Legislation::Answer.find_by(legislation_question_option_id: question_option.id, user_id: current_user.id) %>
                  <label class="control radio is-active" onload="setHidden(1)">
                    <%= f.check_box :legislation_question_option_id, {checked: true, multiple: true, label: false, class: "checkbox-answer", onchange: "setHidden(#{question.multiple_answers})"}, question_option.id %>
                    <span class="control-indicator"></span>
                    <%= question_option.value %>
                  </label>
                <%else%>
                  <label class="control radio">
                    <%= f.check_box :legislation_question_option_id, {multiple: true, label: false, class: "checkbox-answer", onchange: "setHidden(#{question.multiple_answers})"}, question_option.id %>
                    <span class="control-indicator"></span>
                    <%= question_option.value %>
                  </label>
                <%end%>
            <%end%>
          </div>
        <% end %>
        <%= f.submit t("legislation.questions.show.answer_question"), class: "button btn-answers" %>
      <% end %>
    <% end %>
  <% end %>
<%end%>
<script>window.onload = setHidden("<%= question.multiple_answers %>");</script>