<%= back_link_to(admin_census_locals_path, text = t("shared.back")) %>
<br>
<h2 class="inline-block"><%= t("admin.census.locals.importations.show.title") %></h2>

<%= link_to t("admin.census.locals.importations.show.import"),
            new_admin_census_locals_importation_path,
            class: "button float-right hollow" %>

<h3><%= t("admin.census.locals.importations.show.subtitle") %></h3>

<%= render partial: "locals", locals: {
  title: t("admin.census.locals.importations.show.errored"),
  id: "invalid-census-locals",
  locals: @importation.invalid_records } %>

<%= render partial: "locals", locals: {
  title: t("admin.census.locals.importations.show.created"),
  id: "created-census-locals",
  locals: @importation.created_records } %>
