<div class="nested-fields">
  <div class="field">
    <div class="small-12 medium-9 column">
      <%= f.translatable_fields do |translations_form| %>
        <div class="row">
          <div class="small-12 medium-8 column">
            <div class="row">
              <% nome ="_#{f.index}_#{translations_form.index}_"%>
              <div class="small-12 medium-12 column" id="value_<%=nome%>">
                <%= translations_form.text_field :value,
                      placeholder: t("admin.legislation.questions.form.value_placeholder"),
                      label: false %>
                </div>
                <div class="small-12 medium-12 column" id="ranges_<%=nome%>">
                  <div class="row">
                  <div class="small-12 medium-6 column"><%= translations_form.number_field :range_first, label: false %></div>
                  <div class="small-12 medium-6 column"><%= translations_form.number_field :range_last, label: false %></div>
                  </div>
                </div>
            </div>
          </div>
          <div class="small-12 medium-4 column">
            <div class="row">
              <label class="control radio is-active">            
                <%= check_box_tag "normal_#{nome}",nil,(!translations_form.object.is_range && !translations_form.object.other && !translations_form.object.is_number), label: false, class: "checkbox-answer-#{nome}", 
                  onchange: "uniqueCheck($(this),'checkbox-answer-#{nome}'); showhideElement('value_#{nome}', ['ranges_#{nome}'])" %>
                <span class="control-indicator"></span>
                <%= t("admin.legislation.questions.form.normal") %>
              </label>
            </div>
            <div class="row">
              <label class="control radio is-active">            
                <%= translations_form.check_box :other, {label: false, class: "checkbox-answer-#{nome}", onload: "setHidden(1)",
                  onchange: "uniqueCheck($(this),'checkbox-answer-#{nome}'); showhideElement('value_#{nome}', ['ranges_#{nome}'])"} %>
                <span class="control-indicator"></span>
                <%= t("admin.legislation.questions.form.other") %>
              </label>
            </div>
            <div class="row">
              <label class="control radio is-active">
                <%= translations_form.check_box :is_range, {label: false, class: "checkbox-answer-#{nome}", onload: "setHidden(1)",
                onchange: "uniqueCheck($(this),'checkbox-answer-#{nome}'); showhideElement('ranges_#{nome}', [])"} %>
                <span class="control-indicator"></span>
                <%= t("admin.legislation.questions.form.range") %>
              </label>
            </div>            
          </div>
        </div>
        <script>
          if ('<%=translations_form.object.is_range%>' == 'true') {
            $('#ranges_<%=nome%>').show();
            $('#value_<%=nome%>').show();
          } else if ('<%=translations_form.object.other%>' == 'true' ) {
            $('#ranges_<%=nome%>').hide();
            $('#value_<%=nome%>').show();
          } else {
            $('#ranges_<%=nome%>').hide();
            $('#value_<%=nome%>').show();
          }
        </script>
      <hr>
      <% end %>
    </div>

    <div class="small-12 medium-3 column">
      <%= link_to_remove_association t("admin.legislation.questions.question_option_fields.remove_option"), f, class: "delete"%>
      <%#= link_to 'DELETE', 
                destroy_question_option_admin_legislation_process_question_path(@process, @question),
                    class: "delete" %>
    </div>
    
  </div>
</div>
