<% provide :title do %>
  <%= t("admin.header.title") %> - <%= t("admin.menu.legislation") %> - <%= @process.title %> - <%= t("admin.legislation.questions.index.title") %>
<% end %>

<div class="legislation-draft-versions-index">
  <%= back_link_to admin_legislation_processes_path, t("admin.legislation.questions.index.back") %>

  <h2><%= @process.title %></h2>

  <%= render "admin/legislation/processes/subnav", process: @process, active: "questions" %>

  <div class="small-12 column">
    <h4 class="inline-block"><%= t("admin.legislation.questions.index.title") %></h4>

    <div class="float-right">
      <%= link_to t("admin.legislation.questions.index.create"), new_admin_legislation_process_question_path, class: "button" %>
    </div>

    <% if @process.questions.any? %>
      <table class="stack">
       <thead>
          <tr>
            <th><%= t("admin.legislation.questions.table.title") %></th>
            <th><%= t("admin.legislation.questions.table.question_options") %></th>
            <th class="text-center"><%= t("admin.legislation.questions.table.answers_count") %></th>
            <th class="text-center"><%= t("admin.legislation.questions.table.comments_count") %></th>
            <th class="text-center"><%= t("admin.legislation.questions.table.upvotes") %></th>
            <th class="text-center"><%= t("admin.legislation.questions.table.downvotes") %></th>
          </tr>
        </thead>
        <tbody>
        <% @process.questions.each do |question| %>
          <% count = 0%>
          <tr id="<%= dom_id(question) %>">
            <td>
              <%= link_to simple_format(strip_links markdown(question.title.html_safe)), edit_admin_legislation_process_question_path(@process, question) %>
            </td>
            <td>
              <%= content_tag :ul do %>
                
                <% question.question_options.each do |question_option| %>
                  <%= content_tag :li do %>
                    <%if (question_option.other == false || question_option.other.blank?) && (question_option.is_range == false || question_option.is_range.blank?) && (question_option.is_number == false || question_option.is_number.blank?) %>
                      <%= question_option.value %> (<%= Legislation::Answer.legislation_by_question_option(question_option.id).uniq.count %>)
                      <% count= count + Legislation::Answer.legislation_by_question_option(question_option.id).uniq.count %>
                    <%elsif question_option.other == true%>
                      <%= link_to (question_option.value.blank? ? t("admin.legislation.questions.form.other") : question_option.value) + "(#{Legislation::Answer.legislation_by_question_option(question_option.id).legislation_other.uniq.count})", other_answers_admin_legislation_process_questions_path(@process, question, question: question, option: question_option)%>
                      <% count= count + Legislation::Answer.legislation_by_question_option(question_option.id).legislation_other.uniq.count %>
                    <%elsif question_option.is_range == true%>
                      <%= link_to (question_option.value.blank? ? t("admin.legislation.questions.form.range") : question_option.value) + "(#{Legislation::Answer.legislation_by_question_option(question_option.id).legislation_range.uniq.count})", range_answers_admin_legislation_process_questions_path(@process, question, question: question, option: question_option)%>
                      <% count= count + Legislation::Answer.legislation_by_question_option(question_option.id).legislation_range.uniq.count %>
                    <%end%>
                  <% end %>
                <% end %>
              <% end %>
            </td>
            <td class="text-center"><%= count %></td>
            <td class="text-center"><%= link_to question.comments.count, legislation_process_question_path(@process, question, anchor: "comments") %></td>
            <td class="upvotes text-center"><%= question.get_upvotes.size %></td>
            <td class="downvotes text-center"><%= question.get_downvotes.size %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
