<%= back_link_to %>
<h1><%= @question.title%></h1>
<%if @answers.count >= 1 %>
    <table class="stack">
    <thead>
        <tr>
        <th><%= "Respuestas" %></th>
        </tr>
    </thead>
    <tbody>
    <% @answers.each do |answer| %>
        <tr>
            <td>
                <%= answer.value_other %>
            </td>
        </tr>
    <% end %>
    </tbody>
    </table>
<% else %>
    <%= t("admin.legislation.questions.table.no_options") %>
<% end %>