<div id="<%= dom_id(proposal) %>"
     class="proposal clear <%= ("human-rights" if proposal.author.id == 505793) %>"
     data-type="proposal"
     style="<%= "height:100px" if !params[:type].blank?%>">
  <div class="panel <%= ("with-image" if proposal.image.present?) %>" style="<%= "height:100px" if !params[:type].blank?%>">
    <div class="icon-human-rights"></div>
    <div class="icon-successful"></div>

    <% if proposal.image.present? %>
      <div class="row" style="<%= "height:100px" if !params[:type].blank?%>">
        <div class="small-12 medium-3 large-2 column text-center">
          <%= image_tag proposal.image_url(:thumb),
                        alt: proposal.image.title.unicode_normalize %>
        </div>
        <div class="small-12 medium-6 large-7 column margin-top">
    <% else %>
      <div class="row" style="<%= "height:100px" if !params[:type].blank?%>">
        <div class="small-12 medium-9 column">
    <% end %>
        <div class="proposal-content <%= ("human-rights" if proposal.try(:author).try(:id) == 505793) %>" style="<%= "height:100px" if !params[:type].blank?%>">
          <% cache [locale_and_user_status(proposal), "index", proposal, proposal.try(:author)] do %>
            <% if proposal.is_proposal? && proposal.type_other_proposal.blank?%>
              <span class="label proposal small uppercase">
                <%= t("legislation_proposals.label_proposal") %>
              </span>
            <% elsif proposal.is_question? %>
              <div class="label question small">
                <span class="uppercase"><%= t("legislation_proposals.label_question") %></span>
              </div>
            <% end %>
            <% if proposal.type_other_proposal.blank? %>
              <h3><%= link_to proposal.title, legislation_process_proposal_path(proposal.legislation_process_id, proposal) %></h3>
            <%else %>
              <h3><%= link_to proposal.other_proposal.name, legislation_process_proposal_path(proposal.legislation_process_id, proposal) %></h3>
            <%end%>
            <p class="proposal-info">
              <span class="icon-comments"></span>&nbsp;
              <%= link_to t("proposals.proposal.comments", count: proposal.comments_count), legislation_process_proposal_path(proposal.legislation_process_id, proposal, anchor: "comments") %>

              <span class="bullet">&nbsp;&bull;&nbsp;</span>
              <%= l proposal.created_at.to_date %>

              <% if proposal.try(:author).blank? || proposal.try(:author).try(:hidden?) || proposal.try(:author).try(:erased?) %>
                <span class="bullet">&nbsp;&bull;&nbsp;</span>
                <span class="author">
                  <%= t("proposals.show.author_deleted") %>
                </span>
              <% else %>
                <span class="bullet">&nbsp;&bull;&nbsp;</span>
                <span class="author">
                  <%if proposal.try(:author).try(:name) == "becerragjm" %>
                    <%= "Admin27" %>
                  <%elsif proposal.try(:author).try(:name) == "arandaspe" %>
                    <%= "Admin107" %>
                  <%elsif proposal.try(:author).try(:name) == "admin" %>
                    <%= "Admin113" %>
                  <%elsif proposal.try(:author).try(:name) == "jmmaleti" %>
                    <%= "Admin74" %>
                  <%else%>
                  <%= proposal.try(:author).try(:name) %>
                  <%end%>
                </span>
                <!--
                <%# if proposal.try(:author).try(:display_official_position_badge?) %>
                  <span class="bullet">&nbsp;&bull;&nbsp;</span>
                  <span class="label round level-<%#= proposal.try(:author).try(:official_level) %>">
                    <%#= proposal.try(:author).try(:official_position) %>
                  </span>
                <%# end %>-->
              <% end %>
              
              <%if proposal.try(:other_proposal).try(:address)%>
                <span class="bullet">&nbsp;&bull;&nbsp;</span>
                <span><%= proposal.try(:other_proposal).try(:address) %> 
              <%end%>

              <%if proposal.try(:other_proposal).try(:phone) %>
                <span class="bullet">&nbsp;&bull;&nbsp;</span> 
                <%= proposal.try(:other_proposal).try(:phone) %></span>
              <%end%>

              <% if proposal.try(:author).try(:verified_organization?) %>
                <span class="bullet">&nbsp;&bull;&nbsp;</span>
                <span class="label round is-association">
                  <%= t("shared.collective") %>
                </span>
              <% end %>
            </p>
            <% if params[:type].blank?%>
            <div class="proposal-description">
              <p><%= proposal.summary %></p>
              <% if params[:type].blank?%><div class="truncate"></div><%end%>
            </div>
            <%end%>
            <%unless !params[:type].blank? %>
              <%= render "shared/tags", taggable: proposal, limit: 5 %>
            <%end%>
          <% end %>
        </div>
      </div>
      <%if !params[:type].blank? %>
        <%= render "shared/tags", taggable: proposal, limit: 5 %>
      <%else%>
        <div id="<%= dom_id(proposal) %>_votes" class="small-12 medium-3 column">
        <%= render "legislation/proposals/votes",
                  { proposal: proposal, vote_url: vote_legislation_process_proposal_path(proposal.legislation_process_id, proposal, value: "yes") } %>
      </div>
      <%end%>
    </div>
  </div>
</div>
