<div class="proposal-form row">

  <div class="small-12 column">
    

    
      <% if !params[:type].blank? || !@proposal.type_other_proposal.blank? %>
        <span class="icon-angle-left" aria-hidden="true"><%= link_to t("shared.back"), proposals_legislation_process_path(@process,type: params[:type]), class: "back" %></span>
        <h1><%=t("proposals.index.start_organization")%></h1>
      <%else%>
        <%= back_link_to %>
        <h1><%= t("proposals.new.start_new") %></h1>
      <%end%>    
    

    <%= render "legislation/proposals/form", form_url: legislation_process_proposals_url, id: @proposal.id %>
  </div>
</div>
