<% if @pages.blank? %>
  <div class="callout alert margin-bottom">
    <%= t("admin.shared.no_search_results") %>
  </div>
<% else %>
  <h3><%= t("admin.shared.search_results") %></h3>
<% end %>

<% if @pages.any? %>
  <table>
    <thead>
      <tr>
        <th><%= t("admin.site_customization.pages.page.title") %></th>
        <th><%= t("admin.site_customization.pages.page.slug") %></th>
        <th><%= t("admin.site_customization.pages.page.created_at") %></th>
        <th><%= t("admin.site_customization.pages.page.updated_at") %></th>
        <th><%= t("admin.site_customization.pages.page.status") %></th>
        <th><%= t("admin.actions.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @pages.each do |page| %>
        <tr>
          <td><%= page.title %></td>
          <td><%= page.slug %></td>
          <td><%= I18n.l page.created_at, format: :long %></td>
          <td><%= I18n.l page.updated_at, format: :long %></td>
          <td><%= t("admin.site_customization.pages.page.status_#{page.status}") %></td>
          <td>
            <%= render Admin::TableActionsComponent.new(page) do |actions| %>
              <%= actions.link_to t("admin.site_customization.pages.page.see_cards"),
                                  admin_site_customization_page_widget_cards_path(page),
                                  class: "cards-link" %>

              <% if page.status == "published" %>
                <%= actions.link_to t("admin.site_customization.pages.index.see_page"),
                                    page.url,
                                    class: "show-link" %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
