<div class="small-12 medium-12 margin-top">
  <%= form_tag(search_pages_admin_site_customization_pages_path(@page), method: :get, remote: true) do |f| %>
    <%= text_field_tag :text,
                       search[:text],
                       placeholder: t("admin.shared.search.label.pages"),
                       id: "search-pages",
                       style: "max-width: 400px" %>
    <div>
      <% ::SiteCustomization::Page::VALID_FILTERS.each do |type| %>
        <%= radio_button_tag "type", type, search[:type] == type %>
        <%= label_tag "type_#{type}", I18n.t("admin.site_customization.pages.search.types.#{type}") %>&nbsp;&nbsp;&nbsp;&nbsp;
      <% end %>
    </div>

    <div>
      <div style="display: inline-block; max-width: 200px">
        <label for="start_date"><%= I18n.t("admin.site_customization.pages.search.from") %></label>
        <%= date_field_tag :start_date %>
      </div>
      <div style="display: inline-block; max-width: 200px">
        <label for="end_date"><%= I18n.t("admin.site_customization.pages.search.to") %></label>
        <%= date_field_tag :end_date %>
      </div>
    </div>

    <%= submit_tag t("admin.shared.search.search"), class: "button" %>
    <%= link_to t("admin.shared.search.clean"),
                admin_site_customization_pages_path,
                style: "margin: 15px",
                class: "right" %>
  <% end %>
</div>

<div id="search-pages-results"></div>
