<% provide :title , t("meta_tags.help_debates.title") %>
<% provide :meta_description, t("meta_tags.help_debates.description") %>
<% provide :meta_keywords, t("meta_tags.help_debates.keywords") %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: more_info_debates_url %>
<% end %>

<div class="row margin-top">
  <div class="small-12 medium-3 column">
    <%= back_link_to help_path %>

    <ul class="vertical menu margin-top">
      <li><a href="#que-es-debate"><strong>¿Qué es un debate en Decide Madrid?</strong></a></li>
      <li><a href="#como-empezar-debate"><strong>¿Cómo puedo empezar un debate?</strong></a></li>
      <li><a href="#temas-debate"><strong>¿Puedo abrir un debate sobre cualquier tema?</strong></a></li>
      <li><a href="#participar-debate"><strong>¿Cómo puedo participar en un debate?</strong></a></li>
      <li><a href="#participar-fuera-madrid"><strong>¿Cómo puede participar la gente que no esté empadronada en Madrid?</strong></a></li>
      <li><a href="#encontrar-debate"><strong>¿Cómo puedo encontrar un debate de mi interés?</strong></a></li>
      <li><a href="#debate-actuacion-ayuntamiento"><strong>¿Los debates implican algún tipo de actuación por parte del Ayuntamiento?</strong></a></li>
    </ul>
  </div>

  <div class="small-12 medium-9 column">
    <h1>Preguntas frecuentes sobre Debates</h1>
    <h3 id="que-es-debate">#que-es-debate</h3>
    <h2>¿Qué es un debate en Decide Madrid?</h2>

    <p>En la sección de <%= link_to "debates", debates_path %> ciudadanos puedes exponer y compartir tu opinión con otras personas sobre temas que te preocupan relacionados con la ciudad de Madrid o con sus barrios (Lazotea). También es un espacio donde generar ideas con otros usuarios de la web, que a través de las otras secciones de Decide Madrid lleven a actuaciones concretas por parte del Ayuntamiento.</p>
    
    <h3 id="como-empezar-debate">#como-empezar-debate</h3>
    <h2>¿Cómo puedo empezar un debate?</h2>

    <p>Para empezar un debate es necesario <%= link_to "registrarse", new_user_registration_path %> en Decide Madrid. Una vez hecha la inscripción hay que clicar en el apartado de <%= link_to "Debates", debates_path %>. Ahí puedes decidir si quieres participar en los debates de toda la ciudad o en los debates de barrio (Lazotea).</p>
    <p>Antes de empezar un debate te recomendamos que leas los temas abiertos por otras personas. Es posible que ya estén hablando del tema que te interesa y puedas participar con tus comentarios.</p>
    <p>Para empezar un debate de ciudad, pulsa el botón ubicado a la izquierda de la página  <%= link_to "Empieza un debate", new_debate_path %>, rellena los campos de título del debate, texto inicial y etiquetas y acepta la política de privacidad Si rellenas incorrectamente algún campo del formulario verás que esos campos se marcan en rojo y te indican el error cometido en ellos.</p>
    <p>Para empezar un debate en un barrio (LAZOTEA), puedes seleccionar el barrio desde el mapa, desde el listado o bien a través del desplegable:</p>
    <ul>
      <li>Desde el mapa o desde el listado de Distritos: selecciona un distrito y escoge un barrio. Entrarás al espacio de debate de ese barrio, en el que puedes crear un tema o ver qué discusiones hay en curso.</li>
      <li>Desde el desplegable: selecciona un barrio y pulsa el botón “Empieza un debate”. Rellena los campos de título del debate y texto inicial. Y pulsa el botón “Crear tema”. Te llevará al espacio de ese barrio.</li>
    </ul>
    
    <h3 id="temas-debate">#temas-debate</h3>
    <h2>¿Puedo abrir un debate sobre cualquier tema?</h2>
    <p>Sí. Pero ten en cuenta que los debates no pueden incluir contenidos o propaganda de carácter racista, sexista, xenófobo, de apología del terrorismo o que atenten contra los derechos humanos o la dignidad de las personas.</p>

    <p>Los debates tampoco pueden tener fines delictivos; contener un lenguaje insultante; atentar contra la legislación vigente en materia de derechos fundamentales y libertades públicas, especialmente en lo concerniente al derecho al honor, la intimidad y la propia imagen y, por último, tampoco se podrán iniciar debates que tengan carácter reiterativo o puedan considerarse como “spam”.</p>

    <h3 id="participar-debate">#participar-debate</h3>
    <h2>¿Cómo puedo participar en un debate?</h2>
    <p>Las personas registradas en Decide Madrid pueden comentar los debates planteados por otros usuarios y los debates propios. También pueden valorarlos con los botones de "Estoy de acuerdo" o "No estoy de acuerdo" que se encuentran en cada uno de ellos.</p>

    <h3 id="participar-fuera-madrid">#participar-fuera-madrid</h3>
    <h2>¿Cómo puede participar la gente que no esté empadronada en Madrid?</h2>
    <p>Las personas que no estén empadronadas en la ciudad de Madrid pero quieran participar en Decide Madrid pueden crear debates, presentar propuestas, comentar en todas las secciones, y difundir lo que ocurre en la plataforma.</p>

    <h3 id="encontrar-debate">#encontrar-debate</h3>
    <h2>¿Cómo puedo encontrar un debate de Toda la ciudad de mi interés?</h2>
    <p>Cuando entras en la sección de debates, aparecen por defecto los temas más recientes (Nuevos). También puedes ordenarlos por los que tienen más valoraciones (Mejor valorados), por los más comentados por los usuarios (Más activos) o en función de tus intereses (Recomendaciones, donde aparecen los temas en función de tu participación en Decide Madrid).</p>

    <p>También tienes un buscador, en la parte superior derecha, donde puedes introducir una palabra clave para buscar los debates que más te interesan.</p>

    <h3 id="debate-actuacion-ayuntamiento">#debate-actuacion-ayuntamiento</h3>
    <h2>¿Los debates implican algún tipo de actuación por parte del Ayuntamiento?</h2>
    <p>Los debates no activan ningún mecanismo de actuación concreto por parte del Ayuntamiento de Madrid. Para conseguir una acción vinculante puedes hacer una <%= link_to "propuesta", proposals_path %> para la ciudad, plantear un proyecto de <%= link_to "presupuestos participativos", budgets_path %> cuando se abra la convocatoria anual, o participar en alguno de las <%= link_to "votaciones", polls_path %> o <%= link_to "procesos participativos", processes_path %> iniciados por parte del Ayuntamiento.</p>

  </div>
</div>