<%= back_link_to admin_budgets_path %>

<header>
  <h2>
    <% if @mode == "single" %>
      <%= t("admin.budgets.new.title_single") %>
    <% else %>
      <%= t("admin.budgets.new.title_multiple") %>
    <% end %>
  </h2>
</header>

<%= render Admin::Budgets::CreationTimelineComponent.new(step: "budget") %>
<%= render "/admin/budgets/form" %>
