<table class="margin-top">
  <thead>
    <tr>
      <th scope="col"><%= t("users.show.comments") %></th>
      <th class="text-right"><%= t("users.show.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <tr id="comment_<%= comment.id %>">
        <td>
          <%= comment_commentable_title(comment) %>
          <br>
          <% if is_moderated?(comment) %>
            <span class="label alert"><%= t("users.show.labels.moderated") %></span>
          <% end %>
          <%= comment.body %>
        </td>
        <td class="text-right">
          <%= link_to t("shared.edit"),
                      edit_comment_user_path(
                        id: comment.user_id,
                        comment_id: comment.id,
                      ) if user_signed_in? && allows_editing?(comment) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @comments %>
