<footer>
  <div class="row">
    <div class="small-12 large-2 column">
    <%= link_to page_path("conditions"), accesskey: "0" do %>
      <div class="footer-link">
      <%= image_tag(image_path_for("icono-info-footer.png")) %>
      <span><%= t("layouts.footer.links.legal") %></span>
      </div>
    <% end %>
    </div>
    <div class="small-12 large-2 column">
    <%= link_to page_path("privacy"), accesskey: "0" do %>
      <div class="footer-link">
      <%= image_tag(image_path_for("icono-privacidad-footer.png")) %>
      <span><%= t("layouts.footer.links.privacy") %></span>
      </div>
    <% end %>
    </div>
    <div class="small-12 large-2 column">
    <%= link_to page_path("cookies"), accesskey: "0" do %>
      <div class="footer-link">
      <%= image_tag(image_path_for("icono-cookies-footer.png")) %>
      <span><%= t("layouts.footer.links.cookies") %></span>
      </div>
    <% end %>
    </div>
    <div class="small-12 large-2 column">
    <%= link_to page_path("contact"), accesskey: "0" do %>
      <div class="footer-link">
      <%= image_tag(image_path_for("icono-contacto-footer.png")) %>
      <span><%= t("layouts.footer.links.contact") %></span>
      </div>
    <% end %>
    </div>
    <div class="small-12 large-2 column">
    <%= link_to "https://www.tenerife.es/", target: "_blank", accesskey: "0" do %>
      <div class="footer-link">
      <%= image_tag(image_path_for("icono-web-cabildo-footer.png")) %>
      <span><%= t("layouts.footer.links.web") %></span>
      </div>
    <% end %>
    </div>
    <div class="small-12 large-2 column">
    <%= link_to page_path("faq"), accesskey: "0" do %>
      <div class="footer-link">
      <%= image_tag(image_path_for("icono-preguntas-footer.png")) %>
      <span><%= t("layouts.footer.links.faq") %></span>
      </div>
    <% end %>
    </div>
  </div>
</footer>
<div hidden="hidden">Prueba<div>
