<div class="header-logos">
  <%= link_to Rails.application.config.sites[:citizen_participation], class: "logo-header" do %>
    <%= image_tag(image_path_for("logo_header.png"), alt: t("layouts.header.logos.citizen_participation")) %>
  <% end %>

  <%= link_to Rails.application.config.sites[:open_government], class: "logo-canarias-government" do %>
    <%= image_tag(image_path_for("logo_canarias_government.png"), alt: t("layouts.header.logos.canarias_government")) %>
  <% end %>

  <%= image_tag(image_path_for("logo_european_union.png"), alt: t("layouts.header.logos.european_union")) %>
</div>
