<header>

  <div class="top-links">
    <div class="row">
      <%= render "shared/locale_switcher" %>
      <div class="hide-for-small-only">
        <%= render "shared/top_links" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="show-for-small-only logos-small-header">
      <div class="show-for-small-only top-bar-title">
        <%= link_to root_path, accesskey: "0" do %>
          <%= image_tag(image_path_for('logo_header.png'), class: 'float-left', alt: t("layouts.header.logo")) %>
        <% end %>
      </div>

      <div class="show-for-small-only european-logo-small">
        <%= link_to root_path, accesskey: "0" do %>
          <%= image_tag(image_path_for('logo_europa.png'), class: 'european-logo-img', alt: "Logo europa") %>
        <% end %>
      </div>
    </div>

    <div class="top-bar">

      <span data-responsive-toggle="responsive-menu" data-hide-for="medium" class="float-right">
        <span class="menu-icon dark" data-toggle></span>
        <%= t("application.menu") %>
      </span>

      <div id="responsive-menu">
        <div class="top-bar-right">
          <div class="show-for-small-only">
            <div class="subnavigation row">
              <%= render "shared/subnavigation" %>
              <div class="small-12 column">
                <%= render "shared/top_links" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="navigation_bar" class="subnavigation expanded row">
    <div class="hide-for-small-only small-2 column">
      <%= link_to root_path, accesskey: "0", class: 'header-image' do %>
        <%= image_tag(image_path_for('logo_header.png'), class: 'float-left', alt: t("layouts.header.logo")) %>
      <% end %>
    </div>
    <div class="hide-for-small-only small-offset-1 small-6 column subnavigation-large-menu">
      <%= render "shared/subnavigation" %>
    </div>
    <div class="hide-for-small-only small-2 float-right european-logo column">
      <%= link_to root_path, accesskey: "0" do %>
        <%= image_tag(image_path_for('logo_europa.png'), class: 'european-logo-img float-right', alt: "Logo europa") %>
      <% end %>
    </div>
    <div class="small-12 medium-3 column">
      <%= yield :header_addon %>
    </div>
  </div>

</header>
