<header>
  <%= render Layout::RemoteTranslationsButtonComponent.new(@remote_translations) %>

  <div class="top-links hide-for-small-only">
    <%= render Layout::LocaleSwitcherComponent.new %>
    <div>
      <%= render Layout::TopLinksComponent.new %>
    </div>
  </div>

  <div class="top-bar">
    <div class="left-section">
      <%= link_to "https://www.tenerife.es/", target: "_blank" do %>
        <%= image_tag(image_path_for("logo-cabildo-tenerife.png"), alt: t("layouts.header.tenerife_logo")) %>
      <% end %>
      <h1 class="hide-for-small-only top-bar-title">
        <%= link_to setting["org_name"], root_path, accesskey: "0" %>
      </h1>

      <div class="hide-for-small-only left-section-number">
        <%= t("application.support_title") %><br>
        <%= t("application.support_number") %>
      </div>
    </div>

    <%= render Layout::ResponsiveMenuComponent.new do %>
      <div class="show-for-small-only">
        <div class="subnavigation subnavigation-with-top-links">
          <%= render Layout::TopLinksComponent.new %>
          <%= render Layout::SubnavigationComponent.new %>
          <div data-open="googleSearch" style="margin: 15px 0;" class="search">
            <span><%= icon("fas", "search") %></span>
            <span><%= t("application.search") %></span>
          </div>
        </div>
      </div>
    <% end %>

    <div class="hide-for-small-only middle-section">
      <%= new_window_link_to t("application.subtitle1"), "https://www.tenerife.es/" %>
      <%= new_window_link_to t("application.subtitle2"), "https://sede.tenerife.es/es/" %>
    </div>
    <div class="hide-for-small-only right-section">
      <div class="top-bar-right">
        <%= render Layout::SocialComponent.new %>
      </div>

      <div data-open="googleSearch" class="search">
        <span><%= icon("fas", "search") %></span>
        <span><%= t("application.search") %></span>
      </div>
    </div>
  </div>
</header>
