<header>
  <% if display_remote_translation_info?(@remote_translations, I18n.locale) %>
    <%= render "shared/remote_translations_button", remote_translations: @remote_translations %>
  <% end %>

  <div class="top-links hide-for-small-only">
    <div class="row">
      <%= render "shared/locale_switcher" %>
      <div>
        <%= render "shared/top_links" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="top-bar">

      <span data-responsive-toggle="responsive-menu" data-hide-for="medium" class="float-right">
        <button type="button" class="menu-icon dark" data-toggle></button>
        <%= t("application.menu") %>
      </span>


      <div class="left-section">
        <%= link_to "https://www.tenerife.es/", target: "_blank", accesskey: "0" do %>
          <%= image_tag(image_path_for("logo-cabildo-tenerife.png"), class: "float-left", alt: setting["org_name"]) %>
        <% end %>
        <%= link_to root_path, accesskey: "0", class: "hide-for-small-only top-bar-title" do %>
          <h1>
            <%= setting["org_name"] %>
          </h1>
        <% end %>

        <div class="hide-for-small-only left-section-number">
          <%= t("application.support_title") %><br>
          <%= t("application.support_number") %>
        </div>
      </div>

      <div id="responsive-menu" class="show-for-small-only">
      <div class="top-bar-right">
        <div class="show-for-small-only">
          <div class="subnavigation row">
          <div class="small-12 column">
          <%= render "shared/top_links" %>
          </div>
          <%= render "shared/subnavigation" %>
          </div>
        </div>
      </div>
    </div>


      <div class="hide-for-small-only middle-section">
        <%= link_to "https://www.tenerife.es/", target: "_blank", accesskey: "0" do %>
         <%= t("application.subtitle1") %>
        <% end %>
        |
        <%= link_to "https://sede.tenerife.es/es/", target: "_blank", accesskey: "0" do %>
          <%= t("application.subtitle2") %>
         <% end %>
      </div>
      <div class="hide-for-small-only right-section">
        <div class="top-bar-right">
          <ul class="menu">
            <li>
            <%= link_to "https://www.facebook.com/CabildoTenerife", target: "_blank", accesskey: "0" do %>
              <span>
              <%= icon('fab', 'facebook-f') %>
              </span>
              <% end %>
            </li>
            <li>
            <%= link_to "https://twitter.com/CabildoTenerife", target: "_blank", accesskey: "0" do %>
            <span>
              <%= icon('fab', 'twitter') %>
              </span>
              <% end %>
            </li>
            <li>
            <%= link_to "https://www.youtube.com/channel/UCSnQFzldpaeR5D7zTOp3pRA?view_as=subscriber", target: "_blank", accesskey: "0" do %>
              <span><%= icon('fab', 'youtube') %></span>
              <% end %>
            </li>
            <li>
            <%= link_to "https://www.instagram.com/cabildotenerife/?hl=es", target: "_blank", accesskey: "0" do %>
              <span><%= icon('fab', 'instagram') %></span>
              <% end %>
            </li>
          </ul>
        </div>
        <% if false %>
        <div class="hide-for-medium-only search">
          <span><%= icon('fas', 'search') %></span>
          <span><%= t("application.search") %></span>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</header>
