<% provide :title do %>
  <%= t("admin.header.title") %> - <%= t("admin.menu.site_customization.event_agends") %> - <%= t("admin.event_agends.new_title") %>
<% end %>

<div class="sures-actuation-new">
  <%= back_link_to admin_event_agends_path, t("admin.event_agends.back") %>
  <h2><%= t("admin.event_agends.new_title") %></h2>
  <%= render "form" %>
</div>
