<td style="<%= css_for_mailer_content %>">

  <p style="<%= css_for_mailer_text %>">
    <%= sanitize @intro %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= sanitize @message %>
  </p>
</td>
