<td style="padding-bottom: 20px; padding-left: 10px;">

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 16px;font-weight: normal;line-height: 24px;">
    <%= sanitize(t("mailers.proposal.voting_disabled.title",
          link: link_to(@proposal.title, proposal_url(@proposal)))) %>
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= sanitize(t("mailers.proposal.voting_disabled.intro",
          author: @author.name)) %>
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= sanitize(t("mailers.proposal.voting_disabled.text",
          link: link_to(@proposal.title, proposal_url(@proposal)))) %>
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("mailers.proposal.voting_disabled.sincerely") %>
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= sanitize(t("mailers.proposal.voting_disabled.information")) %>
  </p>
</td>
