<% if resource.try(:author).blank? || resource.try(:author).try(:hidden?) || resource.try(:author).try(:erased?) %>
  <span class="icon-deleted author-deleted"></span>
  <span class="author deleted">
      <%= t("shared.author_info.author_deleted") %>
  </span>
<% else %>
  <%= avatar_image(resource.try(:author), seed: resource.author_id, size: 32, class: "author-photo") %>
  <span class="author">
    <% if resource.try(:author).try(:name) == "becerragjm" %>
      <%= link_to "Admin27", user_path(resource.try(:author)) %>
    <%elsif resource.try(:author).try(:name) == "arandaspe" %>
      <%= link_to "Admin107", user_path(resource.try(:author)) %>
    <%elsif resource.try(:author).try(:name) == "javierlfrf" %>
      <%= link_to "Admin27", user_path(resource.try(:author)) %>
    <%elsif resource.try(:author).try(:name) == "jmmaleti" %>
      <%= link_to "Admin27", user_path(resource.try(:author)) %>
    <%else%>
      <%= link_to resource.try(:author).try(:name), user_path(resource.try(:author)) %>
    <%end%>
  </span>

  <% if resource.respond_to?(:association_name) && resource.association_name.present? %>
    <span>
      <%= "(#{resource.association_name})" %>
    </span>
  <% end %>

  <% if resource.try(:author).try(:display_official_position_badge?) %>
    &nbsp;&bull;&nbsp;
    <span class="label round level-<%= resource.try(:author).try(:official_level) %>">
      <%= resource.try(:author).try(:official_position) %>
    </span>
  <% end %>
<% end %>

<% if resource.try(:author).try(:verified_organization?) %>
  &nbsp;&bull;&nbsp;
  <span class="label round is-association">
    <%= t("shared.collective") %>
  </span>
<% end %>
