<% if resource.try(:author).try(:hidden?) || resource.try(:author).try(:erased?) || resource.try(:author).blank? %>
  <span class="icon-deleted author-deleted"></span>
  <span class="author deleted">
      <%= t("shared.author_info.author_deleted") %>
  </span>
<% else %>
  <%= avatar_image(resource.try(:author), seed: resource.author_id, size: 32, class: "author-photo") unless resource.try(:author).blank?%>
  <span class="author">
      <%= link_to resource.try(:author).try(:name), user_path(resource.try(:author)) %>
  </span>

  <% if resource.respond_to?(:association_name) && resource.association_name.present? %>
    <span>
      <%= "(#{resource.association_name})" %>
    </span>
  <% end %>

  <% if resource.try(:author).try(:display_official_position_badge?) %>
    &nbsp;&bull;&nbsp;
    <span class="label round level-<%= resource.try(:author).try(:official_level) %>">
      <%= resource.try(:author).try(:official_position) %>
    </span>
  <% end %>
<% end %>

<% if resource.try(:author).try(:verified_organization?) %>
  &nbsp;&bull;&nbsp;
  <span class="label round is-association">
    <%= t("shared.collective") %>
  </span>
<% end %>
