<% subsection ||= false
banner = @banners.subsection(subsection).sample %>
<% if !banner.blank? %>
<div class="banner" style="background-color:<%= banner.try(:background_color) %>">
  <% if !banner.try(:target_url).blank? %>
    <%= link_to banner.target_url do %>
      <h2 style="color:<%= banner.font_color %>"><%= banner.try(:title) %></h2>
      <h3 style="color:<%= banner.font_color %>"><%= banner.try(:description) %></h3>
      <%= render_image(banner.image, :large, false) if !banner.image.try(:attachment).blank? %>
    <% end %>
  <%else%>
      <h2 style="color:<%= banner.font_color %>"><%= banner.try(:title) %></h2>
      <h3 style="color:<%= banner.font_color %>"><%= banner.try(:description) %></h3>
      <%= render_image(banner.image, :large, false) if !banner.image.try(:attachment).blank? %>
  <%end%>  
</div>
<%end%>
