<div class="row globalize-languages">
  <div class="small-6 large-3 columns"
       data-single-language-text="<%= t("admin.translations.language_in_use", :count => 1 ) %>"
       data-mutiple-language-text="<%= t("admin.translations.language_in_use", :count => 2 ) %>">
    <small>
      <strong>
        <div id="num-languages" class="inline"></div>
      </strong>
    </small>
    <%= select_tag :translation_locale,
              visible_options_for_locale_select,
              prompt: name_for_locale(locale),
              :id => "globalize_locale"
    %>
    <div class="group-destroy-languages">
      <% I18n.available_locales.each do |locale| %>
          <%= link_to display_translation(locale), "#",
                      id: "js_delete_#{locale}",
                      style: display_translation_style(resource, locale),
                      class: 'delete js-delete-language',
                      data: { locale: locale } %>
      <% end %>
    </div>
  </div>
  <div class="small-6 large-3 columns">
    <br />
    <%= select_tag :translation_locale,
                   options_for_locale_select,
                   prompt: t("admin.translations.add_language"),
                   class: "js-globalize-locale" %>
  </div>
  <div class="small-6 large-6 columns"></div>
</div>
