<div class="row">
  <div class="small-12 medium-9 column margin-top">

    <h1><%= t("map.title") %></h1>
    <div class="row">
      <div class="small-12 medium-3 column">
        <ul id="geozones" class="no-bullet">
          <li><%= link_to @geozones.find_by(name: "Toda la ciudad").name, "#{legislation_process_proposals_path(process_id: params[:process_id],search: @geozones.find_by(name: "Toda la ciudad").name, type: params[:type], map: true)}#filter-subnav" %></li>
          <% @geozones.each do |geozone| %>
            <%unless geozone.name == "Toda la ciudad"%>
              <%if params[:type].blank? %>
                <li><%= link_to geozone.name, borought_proposals_path(geozone: geozone.id) %></li>
              <% else %>
                <li><%= link_to geozone.name, "#{legislation_process_proposals_path(process_id: params[:process_id],search: geozone.name, type: params[:type], map: true)}#filter-subnav" %></li>
              <%end%>
            <%end%>
          <% end %>
        </ul>
      </div>

      <div class="show-for-medium medium-9 column text-center">
        <%= image_tag(image_path_for("map.jpg"), usemap: "#html_map", alt: t("map.alt")) %>
      </div>

      <map name="html_map" id="html_map">
        <% @geozones.each do |geozone| %>
          <area shape="poly"
                coords="<%= geozone.html_map_coordinates %>"
                href="<%= params[:type].blank? ? borought_proposals_path(geozone: geozone.id) : "#{legislation_process_proposals_path(process_id: params[:process_id],search: geozone.name, type: params[:type], map: true)}#filter-subnav" %>"
                title="<%= geozone.name %>"
                alt="<%= geozone.name %>">
        <% end %>
      </map>
    </div>

    <% if params[:type].blank? %>

      <h2><%= t("map.proposal_for_district") %></h2>
    
      <%= form_for(@resource, url: new_url_path, method: :get ) do |f| %>
        <div class="small-12 medium-4">
          <%= f.label :geozone_id,  t("map.select_district") %>
          <%= f.select :geozone_id, geozone_select_options,
                      {include_blank: t("geozones.none"), label: false} %>
        </div>

        <div class="actions small-12">
          <%= f.submit(class: "button", value: t("map.start_proposal")) %>
        </div>
      <% end %>
    <%end%>
  </div>

  <div class="small-12 medium-3 column">
    <aside class="sidebar">
      <% if params[:type].blank? %>
        <%= link_to t("map.start_proposal"), new_proposal_path, class: "button expanded" %>
      <% else %>
        <%= link_to t("map.start_proposal"), 
                    new_legislation_process_proposal_path(process_id: params[:process_id],type: params[:type]),
                          class: "button expanded"%>
      <% end %>
      <%= render "shared/tag_cloud", taggable: "proposal" %>
    </aside>
  </div>
</div>
