<div class="verification-process row">

  <div class="small-12 medium-9 column">
    <h1><%= t("verification.confirmation.new.title") %></h1>
    <h2><%= t("verification.confirmation.new.subtitle") %></h2>
  </div>

  <div class="row column">
    <%= render "form" %>
  </div>

  <p>
    <strong><%= t("verification.confirmation.new.resend_confirmation_code_text") %></strong><br>
    <%= link_to t("verification.confirmation.new.resend_confirmation_code_link"), new_verification_process_path %>
  </p>
</div>
