<div class="row margin-bottom feeds-list" data-equalizer data-equalize-on="medium">
  <% @feeds.each do |feed| %>

    <% if feed_proposals?(feed) %>
      <div id="feed_proposals" class="small-12 column margin-top 
                                      <%= "medium-12" if feed_debates_and_proposals_enabled? %>" style="float: left">
        <div class="feed-content" data-equalizer-watch>
          <h3 class="title"><%= t("welcome.feed.most_active.#{feed.kind}") %></h3>

        <div class="row">
          <div class="small-12 medium-6 column">
            <% feed.items.each do |item| %>
              <div class="<%= item.class.to_s.parameterize(separator: "_") %> row">
                <div class="feed-description small-12 column
                          <%= "medium-6 large-9" if item.image.present? %>">
                  <strong><%= link_to item.title, url_for(item) %></strong><br>
                  <p><%= item.summary %></p>
                </div>              
              </div>
            <% end %>
            </div>
            <div class="small-12 medium-6 column">
              <% if has_banners? %>
                <%= render "shared/banner" %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row">
          <%= link_to t("welcome.feed.see_all_proposals"), proposals_path, class: "see-all" %>
        </div>
      </div>
    <% end %>

    <% if feed_debates?(feed) %>
      <div id="feed_debates" class="small-12 column margin-top
            <%= "medium-6" if feed_debates_and_proposals_enabled? %><%= "medium-6" if feed_debates_and_topics_enabled? %>" style="float: left">
        <div class="feed-content" data-equalizer-watch>
          <h3 class="title"><%= t("welcome.feed.most_active.#{feed.kind}") %></h3>

          <% feed.items.each do |item| %>
            <div class="<%= item.class.to_s.parameterize(separator: "_") %>">
              <strong><%= link_to item.title, url_for(item) %></strong>
            </div>
          <% end %>
        </div>

        <%= link_to t("welcome.feed.see_all_debates"), debates_path, class: "see-all" %>
      </div>
    <% end %>

    <% if feed_topics?(feed) %>
      <div id="feed_debates" class="small-12 column margin-top
                                    <%= "medium-6" if feed_debates_and_topics_enabled? %>" style="float: left">
        <div class="feed-content" data-equalizer-watch>
          <h3 class="title"><%= t("welcome.feed.most_active.#{feed.kind}") %></h3>

          <% feed.items.each do |item| %>
            <div class="<%= item.class.to_s.parameterize(separator: "_") %>">
              <%if item.community_id.blank?%>
                <strong><%= link_to item.title, url_for(item) %></strong>
              <% else %>
                <strong><%= link_to item.title, community_topic_path(item.community_id, item) %></strong>
              <% end %>
            </div>
          <% end %>
        </div>

        <%= link_to t("welcome.feed.see_all_debates"), debates_path, class: "see-all" %>
      </div>
    <% end %>

  <% end %>
</div>
