<%= back_link_to admin_moderators_path %>

<h2><%= t("admin.activity.show.title") %></h2>

<%= render "shared/filter_subnav", i18n_namespace: "admin.activity.show" %>

<% if !@activity.blank? %>
  <h3 class="margin"><%= page_entries_info @activity %></h3>

  <table>
    <thead>
      <tr>
        <th scope="col"><%= t("admin.activity.show.type") %></th>
        <th scope="col"><%= t("admin.activity.show.action") %></th>
        <th scope="col" class="small-6"><%= t("admin.activity.show.content") %></th>
        <th scope="col"><%= t("admin.activity.show.by") %></th>
      </tr>
    </thead>
    <tbody>
      <% @activity.each do |activity| %>
        <% unless activity.blank? %>
          <tr id="<%= dom_id(activity) unless activity.blank? %>">
            <td class="align-top">
              <strong><%= activity.try(:actionable_type).try(:constantize).try(:model_name).try(:human) %></strong><br>
              <span class="date"><%= l activity.try(:actionable).try(:created_at).try{|x| x.to_date} %></span>
            </td>
            <td class="align-top">
              <%= t("admin.activity.show.actions.#{activity.try(:action)}") %><br>
              <span class="date"><%= l activity.try(:created_at).try{|x| x.to_date} %></span>
            </td>
            <td class="align-top">
              <% case activity.try(:actionable_type) %>
              <% when "User" %>
                <%= activity.try(:actionable).try(:username) %> (<%= activity.try(:actionable).try(:email) %>)
              <% when "Comment" %>
                <%= activity.try(:actionable).try(:body) %>
              <% when "Newsletter" %>
                <strong><%= activity.try(:actionable).try(:subject) %></strong>
              <% when "ProposalNotification" %>
                <strong><%= activity.try(:actionable).try(:title) %></strong>
                <br>
                <%= activity.try(:actionable).try(:body) %>
              <% else %>
                <strong><%= activity.try(:actionable).try(:title) %></strong>
                <br>
                <%= activity.try(:actionable).try(:description) %>
              <% end %>
            <td class="align-top">
              <%= activity.try(:user).try(:name) %> (<%= activity.try(:user).try(:email) %>)
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <%= paginate @activity %>
<% else %>
  <div class="callout primary">
    <%= t("admin.activity.show.no_activity") %>
  </div>
<% end %>