<%= form_for form, url: contact_path, method: :post do |f| %>
  <div class="row margin-top">
    <div class="small-12 medium-9 column">
      <p><%= sanitize t("contact.intro") %></p>
      <div class="subtitle">
        <h2><%= t("contact.form_title") %></h2>
      </div>
      <div>
        <%= f.invisible_captcha :address %>
        <% unless current_user %>
          <%= f.text_field :name, autofocus: true, maxlength: User.username_max_length %>
          <%= f.email_field :email %>
        <% end %>
        <%= f.text_field :subject, maxlength: 30, hint: t("contact.subject_hint") %>
        <%= f.text_area :message, rows: 7 %>
        <%= f.check_box :terms_of_service,
          label: t("devise_views.users.registrations.new.terms",
                   terms: link_to(t("devise_views.users.registrations.new.terms_link"), "/privacy",
                                  title: t("shared.target_blank"),
                                  target: "_blank")
                  ) %>
        <div class="small-12 medium-12">
          <%= sanitize(
            t(
              "devise_views.users.registrations.new.terms_description",
              terms: link_to(t("devise_views.users.registrations.new.terms_link"), "/privacy"),
              terms_registry: link_to(
                t("devise_views.users.registrations.new.terms_registry"),
                "https://www.tenerife.es/documentos/ECIT_RegistroTratamientos.pdf"
              )
            )
          ) %>
        </div>
        <div class="small-12 medium-6 small-centered">
          <%= f.submit t("contact.submit"), class: "button expanded" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
