<% provide :title do %>
  Admin - <%= t("admin.menu.site_customization.city_map") %>
<% end %>

<h2 class="inline-block"><%= t("admin.site_customization.city_map.show.title") %></h2>
<p><%= t("admin.site_customization.city_map.show.help") %></p>

<div class="row">
  <div class="small-12 column">
    <div id="city-map" data-latitude="<%= @city_map.latitude %>"
                       data-longitude="<%= @city_map.longitude %>"
                       data-zoom="<%= @city_map.zoom %>"
                       data-address="<%= @city_map.address %>"
                       data-latitude-field-id="site_customization_city_map_latitude"
                       data-longitude-field-id="site_customization_city_map_longitude"
                       data-zoom-field-id="site_customization_city_map_zoom"
                       data-address-field-id="site_customization_city_map_address"
                       data-geocode-url="<%= admin_site_customization_gecode_url %>">
    </div>
    <div id="city-map-marker" title="Marker" class="city-map-marker"></div>
  </div>
</div>

<%= render 'form' %>
