<h2 class="inline-block">
  <%= t("admin.auto_moderated_content.index.title") %>
</h2>

<%= render "shared/filter_subnav", i18n_namespace: "admin.auto_moderated_content.index" %>

<% if @moderated_comments.any? %>
  <table>
    <thead>
      <th><%= t("admin.auto_moderated_content.index.comment") %></th>
      <th><%= t("admin.auto_moderated_content.index.kind") %></th>
      <th><%= t("admin.auto_moderated_content.index.moderated_text") %></th>
      <th><%= t("admin.auto_moderated_content.index.author") %></th>
      <th class="text-right"><%= t("admin.actions.actions") %></th>
    </thead>
    <tbody>
      <% @moderated_comments.each do |comment| %>
        <tr id="<%= dom_id(comment) %>">
          <td><%= comment.body %></td>
          <td><%= t("form.#{comment.class.to_s.underscore}") %></td>
          <% if comment.moderated_texts.size > 1 %>
            <td><%= comment.moderated_texts.map { |mt| mt.text }.join(", ") %></td>
          <% else %>
            <% comment.moderated_texts.each do |mt| %>
              <td><%= mt.text %></td>
            <% end %>
          <% end %>
          <td><%= comment.author.name %></td>
          <td class="text-right">
            <% if show_moderation_buttons?(comment) %>
              <%= t("admin.auto_moderated_content.index.buttons.no_buttons") %>
            <% else %>
              <%= link_to t("admin.auto_moderated_content.index.buttons.show_again"),
                          admin_auto_moderated_content_show_again_path(comment),
                          method: :put,
                          class: "button hollow success" %>

                <%= link_to t("admin.auto_moderated_content.index.buttons.confirm_moderation"),
                            admin_auto_moderated_content_confirm_moderation_path(comment),
                            method: :put,
                            class: "button" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="callout primary">
    <%= t("admin.auto_moderated_content.index.no_moderations") %>
  </div>
<% end %>
