<h2><%= t("moderation.proposals.index.title") %></h2>

<%= render "shared/filter_subnav", i18n_namespace: "moderation.proposals.index" %>

<h3 class="inline-block"><%= page_entries_info @datos_comunes %></h3>

<div class="float-right">
  <%= t("moderation.proposals.index.order") %>
  <%= render "shared/order_selector", i18n_namespace: "moderation.proposals.index" %>
</div>

<%= form_tag moderate_moderation_proposals_path(request.query_parameters), method: :put do %>
  <p class="float-left js-check">
    <%= t("shared.check") %>:
    <%= link_to t("shared.check_all"), "#", data: { check_all: "proposal_ids[]" } %>
    |
    <%= link_to t("shared.check_none"), "#", data: { check_none: "proposal_ids[]" } %>
  </p>


  <table class="clear">
    <thead>
      <tr>
        <th><%= t("moderation.proposals.index.headers.proposal") %></th>
        <th><%= t("moderation.proposals.index.headers.moderate") %></th>
      </tr>
    </thead>

    <tbody>
      <% @datos_comunes.each do |proposal| %>
        <% if !proposal.try(:published_at).blank? || proposal.try(:class).try(:name).to_s == "Legislation::Proposal"  %>
          <tr id="proposal_<%= proposal.try(:id) %>_<%=proposal.try(:model_name).try(:param_key)%>">
            <td>
              <% if proposal.try(:class).try(:name).to_s == "Legislation::Proposal" && !proposal.try(:process).blank?%>
                <%= link_to proposal.try(:title), legislation_process_proposal_path(id: proposal.try(:id), process_id: proposal.try(:process).try(:id)), target: "_blank" %>
              <% elsif proposal.try(:class).try(:name).to_s == "Legislation::Proposal" && proposal.try(:process).blank?%>
                <%=proposal.try(:title)%>
              <% else%>
                <%= link_to proposal.try(:title), proposal, target: "_blank" %>
              <%end%>
              <br>
              <span class="date"><%= l proposal.try(:created_at).try {|d| d.to_date} %></span>
              <span class="bullet">&nbsp;&bull;&nbsp;</span>
              <%= proposal.try(:flags_count) %><span class="icon-flag flag-disable"></span>
              <span class="bullet">&nbsp;&bull;&nbsp;</span>
              <%= proposal.try(:author).try(:username) %>
              <br>
              <div class="moderation-description">
                <%= proposal.try(:description) %>
              </div>
            </td>
            <td class="text-center">
              <%= check_box_tag "proposal_ids[]", "#{proposal.try(:id)}_#{proposal.try(:model_name).try(:param_key)}", nil, id: "#{dom_id(proposal)}_check" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <%= submit_tag t("moderation.proposals.index.block_authors"),
                 name: "block_authors",
                 class: "button hollow alert",
                 data: { confirm: t("moderation.proposals.index.confirm") } %>

  <div class="float-right">
    <% if params[:filter].to_s != "with_confirmed_hide_at" %>
      <%= submit_tag t("moderation.proposals.index.hide_proposals"),
                  name: "hide_proposals",
                  class: "button hollow alert",
                  data: { confirm: t("moderation.proposals.index.confirm") } %>
    <% end %>
    <% if params[:filter].to_s != "with_ignored_flag"%>
      <%= submit_tag t("moderation.proposals.index.ignore_flags"),
                   name: "ignore_flags",
                   class: "button hollow",
                   data: { confirm: t("moderation.proposals.index.confirm") } %>
    <% end %>
  </div>

  <%= paginate @datos_comunes %>

<% end %>
