<h2 class="inline-block"><%= t("admin.moderated_texts.index.title") %></h2>

<%= link_to t("admin.moderated_texts.index.import_csv"),
            new_admin_moderated_texts_import_path,
            class: "button hollow float-right" %>

<%= link_to t("admin.moderated_texts.index.create"),
            new_admin_moderated_text_path,
            class: "button float-right" %>

<% if @words.any? %>
  <h3 class="inline-block"><%= page_entries_info @words %></h3><br>
  <table>
    <thead>
      <th class="small-5"><%= t("admin.moderated_texts.index.text") %></th>
      <th><%= t("admin.moderated_texts.index.detected_occurrences") %></th>
      <th class="text-right"><%= t("admin.actions.actions") %></th>
    </thead>
    <tbody>
      <% @words.each do |word| %>
        <tr id="<%= dom_id(word) %>">
          <td><%= word.text %></td>
          <td>
            <%= @occurrence_count.has_key?(word.id) ? @occurrence_count[word.id] : "0" %>
          </td>
          <td class="text-right">
            <% unless @occurrence_count.has_key?(word.id) %>
              <%= link_to t("admin.actions.edit"),
                          edit_admin_moderated_text_path(word),
                          class: "button hollow" %>
            <% end %>

            <%= link_to t("admin.actions.delete"),
                        admin_moderated_text_path(word),
                        method: :delete,
                        "data-confirm": t("admin.moderated_texts.destroy.alert"),
                        class: "button hollow alert" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @words %>
<% else %>
  <div class="callout primary">
    <%= t("admin.moderated_texts.index.no_texts") %>
  </div>
<% end %>
