<h2 class="inline-block"><%= t("admin.moderated_texts.index.title") %></h2>

<%= link_to t("admin.moderated_texts.index.import_csv"),
            "#",
            class: "button hollow float-right" %>

<%= link_to t("admin.moderated_texts.index.create"),
            "#",
            class: "button float-right" %>

<table>
  <thead>
    <th class="small-5"><%= t("admin.moderated_texts.index.text") %></th>
    <th class="text-center"><%= t("admin.moderated_texts.index.detected_incidents") %></th>
    <th><%= t("admin.actions.actions") %></th>
  </thead>
</table>
