<table>
  <thead>
    <tr>
      <th><%= t("admin.settings.setting") %></th>
      <th><%= t("admin.settings.setting_status") %>/<%= t("admin.settings.setting_value") %></th>
      <th><%= t("admin.settings.setting_actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% settings.each do |setting| %>
      <tr>
        <td class="small-6">
          <strong><%= t("settings.#{setting.key}") %></strong>
          <br>
          <span class="small">
            <%= t("settings.#{setting.key}_description", default: t("admin.settings.no_description")) %>
          </span>
        </td>

        <% if social_feature?(setting) || regional_feature?(setting) %>
          <td>
            <% if setting.enabled? %>
              <span class="enabled">
                <strong>
                  <%= t ("admin.settings.index.features.enabled") %>
                </strong>
              </span>
            <% else %>
              <span class="disabled">
                <%= t("admin.settings.index.features.disabled") %>
              </span>
            <% end %>
          </td>
          <td class="text-right">
            <%= render "admin/settings/featured_settings_form", feature: setting %>
          </td>
        <% else %>
          <%= form_for(setting, url: admin_setting_path(setting), html: { id: "edit_#{dom_id(setting)}"}) do |f| %>
            <% if setting.key == "regional.time_zone.key" %>
              <td>
                <%= f.select :value, time_zone_options_for_select(Setting["regional.time_zone.key"], ActiveSupport::TimeZone.all), label: false, id: dom_id(setting) %>
              </td>
            <% else %>
              <td>
                <%= f.text_area :value, label: false, id: dom_id(setting), lines: 1 %>
              </td>
            <% end %>
            <td>
              <%= f.submit(t("admin.settings.index.update_setting"), class: "button hollow expanded") %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
