<%= back_link_to %>
<h2><%= t("admin.settings.index.remote_census.title") %></h2>

<% if feature?(:remote_census) %>
   <% @settings.each do |setting_group| %>
    <h2><%= t("admin.settings.index.remote_census.#{setting_group.first.key.split(".").second}") %></h2>
    <%= render "settings_table", settings: setting_group %>
  <% end %>
<% else %>
  <div class="callout primary">
    <%= t("admin.settings.index.remote_census.how_to_enable") %>
  </div>
<% end %>
