<%= content_for :body_class, "custom-page" %>

<% provide :title do %><%= @custom_page.title %><% end %>
<div class="page-title">
<div class="row margin-top">
  <div class="small-12 medium-9 column">

      <h1><%= @custom_page.title %></h1>
      <% if @custom_page.is_news %>
        <small>
        <%= link_to news_path do %>
          <span><%= t("news.title") %></span>
        <% end %>
         >
        <%= link_to @custom_page.slug do %>
          <span><%= @custom_page.title %></span>
        <% end %>
        </small>
      <% end %>
      <br><br>
  </div>
</div>
</div>
<div class="row margin-top">
  <% if @menu_title %>
    <div class="small-12 medium-3 column">
        <div class="menu-title">
          <span><%= @menu_title %></span>
        </div>
        <ul class="menu-sections">
        <% @related_pages.each do |related| %>
          <%= link_to related.slug do %>
            <li class = "<% if @custom_page.id == related.id %>current-page<% end %> section">
              <span><%= related.title %></span>
            </li>
          <% end %>
        <% end %>
        <% if @has_news %>
        <%= link_to news_path do %>
          <li class = "<% if @custom_page.id == "news" %>current-page<% end %> section">
            <span><%= t("news.title") %></span>
          </li>
        <% end %>
        <% end %>
        </ul>
    </div>
  <% end %>
  <div class="small-12 medium-9 column">
    <div class="subtitle">
    <% if @custom_page.subtitle.present? %>
      <h2><%= @custom_page.subtitle %></h2>
    <% end %>
    </div>
    <%= auto_link_already_sanitized_html AdminWYSIWYGSanitizer.new.sanitize(@custom_page.content) %>
  </div>

  <% if @custom_page.print_content_flag %>
    <div class="small-12 medium-3 column">
      <%= render "/shared/print" %>
    </div>
  <% end %>

  <% if @cards.any? %>
    <div class="small-12 column">
      <%= render "shared/cards", cards: @cards %>
    </div>
  <% end %>

</div>
