<%= content_for :body_class, "news" %>
<% provide :title do %>Noticias<% end %>
<div class="page-title">
  <div class="row margin-top">
    <div class="small-12 medium-9 column">
        <h1>Noticias</h1>
    </div>
  </div>
</div>
<div class="row margin-top">
<div class="small-12 medium-3 column">
        <div class="menu-title">
          <span><%= @menu_title %></span>
        </div>
        <ul class="menu-sections">
        <% @related_pages.each do |related| %>
          <%= link_to related.slug do %>
            <li class = "section">
              <span><%= related.title %></span>
            </li>
          <% end %>
        <% end %>
        <%= link_to news_path do %>
          <li class = "current-page section">
            <span>Noticias</span>
          </li>
        <% end %>
        </ul>
    </div>
    <div class="small-12 medium-9 column">
<ul>
<% @news.each do |article| %>
  <%= link_to article.slug do %>
    <div>
      <small><%= l(article.created_at, format: "%a %d %B %Y, %l:%M %P") %></small>
      <h3><%= article.title %></h3>
    </div>
    <hr>
  <% end %>
<% end %>
</ul>
</div>

</div>
