<% provide(:title) do %>
  <%= t("admin.header.title") %> - <%= title %>
<% end %>

<h2><%= title %></h2>

<%= link_to t("admin.sdg.goals.index.title"), admin_sdg_goals_path %>
<%= link_to t("admin.sdg.targets.index.title"), admin_sdg_targets_path %>

<table>
  <thead>
    <tr>
      <th><%= attribute_name(:code) %></th>
      <th><%= attribute_name(:title) %></th>
    </tr>
  </thead>

  <tbody>
    <% targets.each do |target| %>
      <tr id="<%= dom_id(target) %>" class="target">
        <td><%= target.code %></td>
        <td><%= target.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>
