<div class="votes">
  <%= t("comments.comment.votes", count: comment.total_votes) %>
  &nbsp;|&nbsp;

  <span class="in-favor">
    <%= button_to vote_in_favor_against_path("yes"),
                  method: button_method(comment, "yes"),
                  remote: can?(:vote, comment),
                  "aria-pressed": is_pressed?(comment, current_user, "yes"),
                  title: t("votes.agree") do %>
      <span class="show-for-sr"><%= t("votes.agree") %></span>
    <% end %>
    <%= comment.total_likes %>
  </span>

  <span class="against">
    <%= button_to vote_in_favor_against_path("no"),
                  method: button_method(comment, "no"),
                  remote: can?(:vote, comment),
                  "aria-pressed": is_pressed?(comment, current_user, "no"),
                  title: t("votes.disagree") do %>
      <span class="show-for-sr"><%= t("votes.disagree") %></span>
    <% end %>
    <%= comment.total_dislikes %>
  </span>
</div>
