<%= render "admin/wizards/header_steps", back_step: back_step_path(@handler),
                                         next_step: next_step_path(@handler),
                                         wizard: "verification" %>

<%= link_to t("admin.wizards.verification.handler.field_assignments.index.create"),
              new_admin_wizards_verification_handler_field_assignment_path(@handler), class: "button float-right" %>

<% if sms_handler?(@handler) %>
Seguro que queremos esto?
  <%= link_to t("admin.verification.fields.index.create_sms_fields"),
                admin_verification_handlers_sms_fields_path, class: "button float-right", method: :post %>
<% end %>
<h2 class="inline-block"><%= title_for_fields_assignments_by(@handler) %></h2>
<p><%= description_for_fields_assignments_by(@handler) %></p>

<table>
  <thead>
    <tr>
      <th scope="col"><%= t("admin.wizards.verification.handler.field_assignments.index.field")%></th>
      <th scope="col" class="small-4"><%= t("admin.actions.actions")%></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "field_assignment", collection: @field_assignments %>
  </tbody>
</table>
