<%= link_to t("admin.verification.field.handler_assignments.index.create"),
              new_admin_wizards_verification_handler_field_assignment_path(@handler), class: "button float-right" %>

<h2 class="inline-block"><%= t("admin.verification.handler.fields_assignments.index.title") %></h2>

<table>
  <thead>
    <tr>
      <th scope="col"><%= t("admin.verification.field.handler_assignments.index.field")%></th>
      <th scope="col" class="small-4"><%= t("admin.actions.actions")%></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "field_assignment", collection: @field_assignments %>
  </tbody>
</table>
