<%= render "admin/wizards/header_steps", back_step: back_step_path("finish"),
                                         wizard: "verification" %>

<div class="medium-12 columns">
  <div class="columns">
    <h2><%= t("admin.wizards.verification.finish.title") %></h2>
    <p><%= t("admin.wizards.verification.finish.description_html") %></p>

    <table>
      <thead>
        <tr>
          <th scope="col" class="text-center"><%= t("admin.wizards.verification.fields.index.position")%></th>
          <th scope="col"><%= t("admin.wizards.verification.fields.index.name")%></th>
          <th scope="col"><%= t("admin.wizards.verification.fields.index.controller")%></th>
          <th scope="col"><%= t("admin.wizards.verification.fields.index.label")%></th>
          <th scope="col" class="text-center"><%= t("admin.wizards.verification.fields.index.required")%></th>
          <th scope="col" class="text-center"><%= t("admin.wizards.verification.fields.index.confirmation_validation")%></th>
          <th scope="col" class="text-center"><%= t("admin.wizards.verification.fields.index.format")%></th>
          <th scope="col" class="small-4 text-right"><%= t("admin.actions.actions")%></th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: "admin/wizards/verification/fields/field", collection: @fields %>
      </tbody>
    </table>
    <div class="margin-bottom">
      <%= link_to t("admin.wizards.verification.finish.btn_finish"), admin_root_path, class: "button" %>
    </div>
  </div>
</div>
