<%= render "admin/wizards/header_steps", wizard: "verification" %>

<div class="medium-12 columns">
  <div class="columns">
    <h2><%= t("admin.wizards.verification.new.title") %></h2>
    <p><%= t("admin.wizards.verification.new.description_html") %></p>
    <div class="callout primary">
      <%= t("admin.wizards.verification.new.exit_text_html") %>
      <%= link_to t("admin.wizards.verification.new.exit_link"), admin_root_path, class: "button hollow" %>
    </div>
    <% if wrong_configuration? %>
      <hr>
      <div class="callout secondary">
        <%= t("admin.wizards.verification.new.take_effect_text") %>
      </div>
    <% end %>

    <%= render "admin/settings/featured_settings_table", features: @settings %>
    <div class="margin-bottom">
      <%= link_to t("admin.wizards.verification.new.btn_start"), admin_wizards_verification_handlers_path, class: "button" %>
    </div>
  </div>
</div>
