<% unless @users.blank? %>
  <h3 class="margin"><%= page_entries_info @users %> <%= params[:hidden_users].blank? ? t("admin.users.user.active") : t("admin.users.user.hidden")%></h3>
  <table>
    <thead>
      <tr>
        <th scope="col"><%= t("admin.users.columns.name") %></th>
        <th scope="col"><%= params[:hidden_users].blank? ? t("admin.users.columns.email") : "Fecha de baja"%></th>
        <th scope="col"><%= params[:hidden_users].blank? ? t("admin.users.columns.document_number") : "" %></th>
        <th scope="col"><%= params[:hidden_users].blank? ? t("admin.users.columns.roles") : "" %></th>
        <th scope="col"><%= params[:hidden_users].blank? ? t("admin.users.columns.verification_level") : "" %></th>
        <th scope="col"><%= t("admin.shared.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user_path(user), target: "_blank" %></td>
          <td><%= params[:hidden_users].blank? ? user.email : user.date_hide %></td>
          <td><%= params[:hidden_users].blank? ? user.document_number : "" %></td>
          <td><%= params[:hidden_users].blank? ? display_user_roles(user) : "" %></td>
          <td><%= params[:hidden_users].blank? ? user.user_type : "" %></td>
          
          <% if !params[:hidden_users].blank? %>
              <td>
              <%= link_to t("admin.users.user.delete"),
                  admin_user_path(user),
                  method: :delete,
                  class: "button hollow alert expanded",
                  :data => {:confirm => t("admin.users.user.confirm_data")} %>
              </td>
              
          <% else %>
            <%unless user.super_administrator? && !current_user.super_administrator? %>
            <td>
            <%= link_to new_admin_newsletter_path(user: user) do %>
                <span class="icon-letter"></span>
              <%end%>
              <button class="button hollow alert expanded" onclick="hide_element('data_confirm_<%=user.id%>')">Eliminar</button></td>
            <%end%>
          <% end %>

        </tr>
        <tr id="data_confirm_<%= user.id %>" style="display:none">
          <td>
            <%= form_tag(hide_admin_user_path(user), method: :get) do %>
              <div class="row">
                <%= label_tag(:hidden_data, t("admin.users.user.hidden_data"))%>
                <%= text_area_tag :hidden_data, nil ,rows: 3, cols: 30 %>
                <div class="row">
                  <%= submit_tag(t("admin.users.user.confirm"), class: "button hollow primary") %>
                  <%= submit_tag(t("admin.users.user.cancel"), 
                        type: 'reset', 
                        class: "button hollow alert",
                        onclick: "hide_element('data_confirm_#{user.id}')", style: "margin-bottom:0px;") %>
                </div>
              </div>
            <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @users %>
<% else %>
  <div class="callout primary">
    <%= t("admin.users.index.no_users") %>
  </div>
<% end %>
