<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<% if has_banners? %>
  <%= render "shared/banner" %>
<% end %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
             social_url: root_url %>
<% end %>

<%= render "header", header: @header %>

<main>
  <div class="welcome-sections">
    <% [(:debates if feature?(:debates)), (:proposals if feature?(:proposals)), :decide, :do].compact.each do |section| %>
      <div class="welcome-section welcome-section-<%= section %>">
        <h2 class="welcome-section-header"><%= t("welcome.#{section}.title") %></h2>
        <p><%= t("welcome.#{section}.description") %></p>
      </div>
    <% end %>
  </div>
</main>
