<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<% if has_banners? %>
  <%= render "shared/banner" %>
<% end %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
             social_url: root_url %>
<% end %>

<%= render "header", header: @header %>

<main>
  <div class="small-12 column text-center">
    <div class="row margin padding">
    <% if feature?(:debates) %>

      <div class="small-12 medium-6 large-3 column row-no-padding">
        <%= link_to debates_path, class: 'welcome-sections-link' do %>
          <div class="welcome-sections">
            <div class="welcome-section-header">
              <h2 class="welcome-section-header-title"><%= t("welcome.debates.title") %></h2>
            </div>
            <%= image_tag(image_path_for('debate.png'), class: 'welcome-section-icon welcome-debate-icon', alt: 'debates') %>
            <p><%= t("welcome.debates.description") %></p>
          </div>
        <% end %>
      </div>
      <% end%>
     <% if feature?(:proposals) %>
      <div class="small-12 medium-6 large-3 column row-no-padding">
        <%= link_to proposals_path, class: 'welcome-sections-link' do %>
          <div class="welcome-sections">
            <div class="welcome-section-header">
              <h2 class="welcome-section-header-title"><%= t("welcome.proposal.title") %></h2>
            </div>
            <%= image_tag(image_path_for('proposal.png'), class: 'welcome-section-icon', alt: 'proposal') %>
            <p><%= t("welcome.proposal.description") %></p>
          </div>
        <% end %>
      </div>
      <% end %>

      <div class="small-12 medium-6 large-3 column row-no-padding">
        <div class="welcome-sections">
          <div class="welcome-section-header">
            <h2 class="welcome-section-header-title"><%= t("welcome.decide.title") %></h2>
          </div>
          <%= image_tag(image_path_for('decide.png'), class: 'welcome-section-icon', alt: 'decide') %>
          <p><%= t("welcome.decide.description") %></p>
        </div>
      </div>
      <div class="small-12 medium-6 large-3 column row-no-padding">
        <div class="welcome-sections">
          <div class="welcome-section-header">
            <h2 class="welcome-section-header-title"><%= t("welcome.do.title") %></h2>
          </div>
          <%= image_tag(image_path_for('do.png'), class: 'welcome-section-icon', alt: 'do') %>
          <p><%= t("welcome.do.description") %></p>
        </div>
      </div>
    </div>
  </div>
</main>
