<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<% if has_banners? %>
  <%= render "shared/banner" %>
<% end %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
             social_url: root_url %>
<% end %>

<%= render "header", header: @header %>

<main>
  <div class="small-12 column text-center">
    <div class="row margin padding">
      <% [(:debates if feature?(:debates)), (:proposals if feature?(:proposals)), :decide, :do].compact.each do |section| %>
        <div class="small-12 medium-6 large-3 column row-no-padding">
          <div class="welcome-sections">
            <div class="welcome-section-header">
              <h2 class="welcome-section-header-title"><%= t("welcome.#{section}.title") %></h2>
            </div>
            <%= image_tag(image_path_for("#{section}.png"), class: "welcome-section-icon welcome-#{section}-icon", alt: "", role: "presentation") %>
            <p><%= t("welcome.#{section}.description") %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>
