<% if header.present? %>
  <div class="jumbo highlight">
    <div class="bluebox-container row">
      <div class="small-12 medium-12 large-6 column">
        <div class="bluebox">
          <span><%= link_to t("layouts.header.content_question"), "/que-contiene-y-para-que-sirve-esta-web" %></span>
        </div>
      </div>
      <div class="small-12 medium-12 large-6 column">
        <div class="bluebox">
          <span><%= link_to t("layouts.header.addressed_question"), "/a-quien-va-dirigida-esta-web" %></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 column <%= "medium-9 small-centered text-center" unless header.image.present? %>">
        <span><%= header.label %></span>
        <h1><%= header.title %></h1>
        <p class="lead"><%= header.description %></p>
        <div class="small-12 medium-6 large-4 <%= "small-centered" unless header.image.present? %>">
          <%= link_to header.link_text, header.link_url, class: "button expanded large" %>
        </div>
      </div>

      <% if header.image.present? %>
        <div class="small-12 medium-6 column">
          <%= image_tag(header.image_url(:large),
                        class: "margin",
                        alt: header.image.title) %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="background-header"></div>
  <div class="action-container row">
  <div class="action">
      <%= link_to proposals_path do %>
        <div class="text-center">
          <%= image_tag(image_path_for("icono-participa.png"), class: "") %>
          <div class="action-title">
            <span><%= t("layouts.header.links.proposals") %></span>
          </div>
        </div>
      <% end %>
      </div>
      <div class="action">
      <%= link_to polls_path do %>
        <div class="text-center">
          <%= image_tag(image_path_for("icono-prop-cabildo.png"), class: "") %>
          <div class="action-title">
            <span><%= t("layouts.header.links.voting") %></span>
          </div>
        </div>
      <% end %>
      </div>
      <div class="action">
      <%= link_to "https://transparencia.tenerife.es/" do %>
      <div class="text-center">
          <%= image_tag(image_path_for("icono-solicita.png"), class: "") %>
          <div class="action-title">
            <span><%= t("layouts.header.links.information") %></span>
          </div>
        </div>
        <% end %>
      </div>
      <div class="action">
      <%= link_to "https://sede.tenerife.es/es/tramites-y-servicios/item/2890-quejas-y-sugerencias" do %>
      <div class="text-center">
          <%= image_tag(image_path_for("icono-queja.png"), class: "") %>
          <div class="action-title">
            <span><%= t("layouts.header.links.complains") %></span>
          </div>
        </div>
        <% end %>
      </div>
      <div class="action">
      <%= link_to "https://sede.tenerife.es/es/" do %>
      <div class="text-center">
          <%= image_tag(image_path_for("icono-sede.png"), class: "") %>
          <div class="action-title">
            <span><%= t("layouts.header.links.sede") %></span>
          </div>
        </div>
        <% end %>
      </div>
    </div>
<% end %>
