<% if header.present? %>
  <div class="header-card jumbo highlight">
    <div class="bluebox-container row">
      <div class="small-12 medium-12 large-6 column">
        <%= link_to "/que-contiene-y-para-que-sirve-esta-web" do %>
          <div class="bluebox">
            <span><%= t("layouts.header.content_question") %></span>
          </div>
        <% end %>
      </div>
      <div class="small-12 medium-12 large-6 column">
        <%= link_to "/a-quien-va-dirigida-esta-web" do %>
          <div class="bluebox">
            <span><%= t("layouts.header.addressed_question") %></span>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 column <%= "medium-9 small-centered text-center" unless header.image.present? %>">
        <span><%= header.label %></span>
        <h1><%= header.title %></h1>
        <p class="lead"><%= header.description %></p>

        <% if header.link_text.present? && header.link_url.present? %>
          <div class="small-12 medium-6 large-4 <%= "small-centered" unless header.image.present? %>">
            <%= link_to header.link_text, header.link_url, class: "button expanded large" %>
          </div>
        <% end %>
      </div>

      <% if header.image.present? %>
        <div class="small-12 medium-6 column">
          <%= image_tag(header.image_url(:large),
                        class: "margin",
                        alt: header.image.title) %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="background-header"></div>
  <div class="action-container row">
    <div class="action">
      <%= link_to new_contact_path do %>
        <div class="text-center">
          <%= image_tag(image_path_for("icono-participa.png"), class: "", alt: "") %>
          <div class="action-title">
            <span><%= t("layouts.header.links.proposals") %></span>
          </div>
        </div>
      <% end %>
    </div>
    <div class="action">
      <%= link_to legislation_processes_path do %>
        <div class="text-center">
          <%= image_tag(image_path_for("icono-prop-cabildo.png"), class: "", alt: "") %>
          <div class="action-title">
            <span><%= t("layouts.header.links.voting") %></span>
          </div>
        </div>
      <% end %>
    </div>
    <div class="action">
      <%= link_to "https://sede.tenerife.es/es/tramites-y-servicios/item/7384-derecho-de-acceso-a-la-informacion-publica", target: "_blank" do %>
        <div class="text-center">
          <%= image_tag(image_path_for("icono-solicita.png"), class: "", alt: "") %>
          <div class="action-title">
            <span><%= t("layouts.header.links.information") %></span>
          </div>
        </div>
      <% end %>
    </div>
    <div class="action">
      <%= link_to "https://sede.tenerife.es/es/tramites-y-servicios/item/2890-quejas-y-sugerencias", target: "_blank" do %>
        <div class="text-center">
          <%= image_tag(image_path_for("icono-queja.png"), class: "", alt: "") %>
          <div class="action-title">
            <span><%= t("layouts.header.links.complains") %></span>
          </div>
        </div>
      <% end %>
    </div>
    <div class="action">
      <%= link_to "https://sede.tenerife.es/es/", target: "_blank" do %>
        <div class="text-center">
          <%= image_tag(image_path_for("icono-sede.png"), class: "", alt: "") %>
          <div class="action-title">
            <span><%= t("layouts.header.links.sede") %></span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
