<div class="sectionbox-container">
  <div class="box text-center">
    <%= link_to "/_cabildo_que-es-el-cabildo-abierto" do %>
      <div class="sectionbox">
        <%= image_tag(image_path_for("icono-cabildo-abierto.png"), class: "", alt: "") %>
        <div class="sectionbox-title">
          <span><%= t("shared.main_links.cabildo") %></span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="box text-center">
    <%= link_to "https://transparencia.tenerife.es/", target: "_blank" do %>
      <div class="sectionbox">
        <%= image_tag(image_path_for("icono-transparencia.png"), class: "", alt: "") %>
        <div class="sectionbox-title">
          <span><%= t("shared.main_links.transparency") %></span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="box text-center">
    <%= link_to "/_participacion_que-hacemos" do %>
      <div class="sectionbox">
        <%= image_tag(image_path_for("icono-participacion-colaboracion.png"), class: "", alt: "") %>
        <div class="sectionbox-title">
          <span><%= t("shared.main_links.collaboration") %></span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="box text-center">
    <%= link_to "https://www.tenerifedata.com/", target: "_blank" do %>
      <div class="sectionbox">
        <%= image_tag(image_path_for("icono-datos-abiertos.png"), class: "", alt: "") %>
        <div class="sectionbox-title">
          <span><%= t("shared.main_links.open_data") %></span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="box text-center">
    <%= link_to "/_etica_codigo-de-buen-gobierno-y-seguimiento" do %>
      <div class="sectionbox">
        <%= icon("fas", "balance-scale", style: "font-size: 4em; color: #005079") %>
        <div class="sectionbox-title">
          <span><%= t("shared.main_links.ethics") %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>
