<div class="small-12 medium-9 column">
<ul>

  <li>
  <div>
          <%= t("application.support_title") %>
          <%= t("application.support_number") %>
        </div>
  </li>
  <li>
  <ul class="social">
  <li>
  <%= link_to "https://www.facebook.com/CabildoTenerife", accesskey: "0" do %>
    <span>
    <%= icon('fab', 'facebook-f') %>
    </span>
    <% end %>
  </li>
  <li>
  <%= link_to "https://twitter.com/CabildoTenerife", accesskey: "0" do %>
  <span>
    <%= icon('fab', 'twitter') %>
    </span>
    <% end %>
  </li>
  <li>
  <%= link_to "https://www.youtube.com/channel/UCSnQFzldpaeR5D7zTOp3pRA?view_as=subscriber", accesskey: "0" do %>
    <span><%= icon('fab', 'youtube') %></span>
    <% end %>
  </li>
  <li>
  <%= link_to "https://www.instagram.com/cabildotenerife/?hl=es", accesskey: "0" do %>
    <span><%= icon('fab', 'instagram') %></span>
    <% end %>
  </li>
  </ul>
  </li>
</ul>

</div>
