<header>

  <div class="top-links">
    <div class="row">
      <div class="small-6 medium-8 column">
        <div class="application_title">
          <%=t("application.title")%>
        </div>
      </div>
      <div class="small-6 medium-4 column end">
        <a href="https://www.madrid.es" target="_blank" accesskey= "0">
          <%= image_tag(image_path_for("logo_madrid.png"), class: "float-rigth application-logo", alt: t("layouts.header.logo")) %>
        </a> 
      </div>     
    </div>
  </div>

  <div class="linea-negra-bottom">
    <div class="row">
      <div class="top-bar">
        <span data-responsive-toggle="responsive-menu" data-hide-for="medium" class="float-right">
          <span class="menu-icon dark" data-toggle></span>
          <%= t("application.menu")%>
        </span>

        <div class="top-bar-title">
          <%= link_to root_path, accesskey: "1" do %>
            <%= image_tag(image_path_for("logo_decide_madrid.png"), class: "float-left", style: "height: 3rem;width: auto;margin: 2rem 0;", alt: t("layouts.header.logo")) %>
          <% end %>
        </div>

        <div id="responsive-menu">
          <div class="top-bar-right">
            <ul class="menu" data-responsive-menu="medium-dropdown">
              <%= render "shared/admin_login_items" %>
              <%= render "layouts/notification_item" %>
              <%= render "devise/menu/login_items" %>
            </ul>

            <div class="show-for-small-only">
              <div class="subnavigation row">
                <%= render "shared/subnavigation" %>
                <div class="small-12 column">
                  <%= render "shared/top_links" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if with_subnavigation %>
    <div class="linea-negra-bottom">
      <div id="navigation_bar" class="subnavigation expanded">
        <div class="row">
          <div class="hide-for-small-only">
            <%= render "shared/subnavigation" %>
          </div>
          <div class="small-12 medium-3 column">
            <%= yield :header_addon %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</header>
