<!DOCTYPE html>
<html lang="es">

  <head>
    <%= render "layouts/common_head", default_title: "Admin" %>
    <%= content_for :head %>
  </head>

  <body class="admin" data-watch-form-message="<%= I18n.t("layouts.admin.watch_form_message") %>">
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas-content" data-off-canvas-content>
          <%= render "layouts/admin_header" %>

          <div class="no-margin-top row expanded collapse" data-equalizer>
            <div class="" data-equalizer-watch>
              <%= render "layouts/flash" %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
