<div id="<%= dom_id(card) %>" class="row" style="border-bottom: 1px solid black; display: flex;
   align-items: center;">
  <% if card.position_image.to_s == "left"%>
    <div class="small-12 medium-<%= card.columns %> column">
      <% if !card.try(:image).try(:attachment).blank?%>
        <% if card.image.title.include? "mp4" %>
          <video width='500' height='300' controls="controls" autoplay loop><source src="<%=card.image.attachment.url %>"/></video>
        <%else%>
          <%= image_tag(card.image.attachment, alt: card.image.title)  %>
        <%end%>
      <%end%>
    </div>
    <%if card.columns < 8 %>
      <div class="small-12 medium-<%=8 - card.columns%> column"></div>
    <%end%>
  <%end%>
  <div class="small-12 medium-4 column">
    <h2><%= markdown(card.title).html_safe %></h2>
    <%= markdown(card.description).html_safe %>
    <% if !card.link_text.blank? && !card.link_url.blank?%>
      <h3 style="text-align:center;padding-top:2em;padding-bottom:2em;"><%= link_to link_to card.link_text, card.link_url, target: "_blank", style: "color:#04C4D9 !important;"%></h3>
    <%end%>
  </div>
  <% if card.position_image.to_s == "right"%>
    <%if card.columns < 8 %>
      <div class="small-12 medium-<%=8 - card.columns%> column"></div>
    <%end%>
    <div class="small-12 medium-<%= card.columns %> column">
      <% if !card.try(:image).try(:attachment).blank?%>
        <% if card.image.title.include? "mp4" %>
          <video width='500' height='300' controls="controls" autoplay loop><source src="<%=card.image.attachment.url %>"/></video>
        <%else%>
          <%= image_tag(card.image.attachment, alt: card.image.title)  %>
        <%end%>
      <%end%>
    </div>
  <%end%>
</div>
